[2017-06-08 23:40] bradvogel opened #8 "Fill out readme"
Needs more of a readme :)

[2017-06-20 01:23] #8 closed

[2017-06-20 01:31] ccw opened #14 "Job queues with custom prefix could not be discovered"
The prefix of the job queue in bull is customizable according to the [reference doc](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queue). But, with customized prefix,  those queues wouldn't be able to be listed in arena queues overview page. Probably the `options` [here](https://github.com/mixmaxhq/arena/blob/master/src/server/bull/index.js#L42) should be leveraged to allow carryin

[2017-06-20 01:41] randallm commented on #14
I agree, this should be fixed. I will take a look and add this feature in the coming days — if this is of high priority to you please consider submitting a pull request. :)

[2017-06-20 17:17] #14 closed

[2017-06-21 23:19] bradvogel opened #17 "Add a favicon"
![logo 2x](https://user-images.githubusercontent.com/821706/27410597-6d08ebda-569d-11e7-87da-4232555fb2e6.png)

[2017-06-23 09:56] kievechua opened #18 "Disable express listen when using Arena as a module"
It will be helpful if can disable it.
Else it will listen to 2 ports, 5000 & 4567

[2017-06-26 17:48] randallm opened #19 "Protected function causing server crash"
@chuym We currently protect a number of Bull built-ins when instantiating our Bull interface (https://github.com/mixmaxhq/arena/blob/master/src/server/bull/index.js#L47).

One of these methods, `updateDelayTimer`, can sometimes cause a server crash:

[code]

because Bull expects this function to be available in its `guardianTimer` check (https://github.com/OptimalBits/bull/blob/v1.1.3/lib/queue.js

[2017-06-26 17:52] chuym commented on #19
Yeah, the reason why I added the protected functions mechanism is to prevent destructive actions to be called by mistake within the module but we should definitely make it less restrictive.

Let's just remove it 👍

[2017-06-27 18:21] randallm commented on #18
This feature has been added and will make its way to the next release. I will post in this thread when it is available.

[2017-06-27 18:24] randallm opened #22 "Non-numerical job ids break endpoints"
https://github.com/mixmaxhq/arena/blob/master/src/server/views/api/index.js#L13

Affected endpoints:

https://github.com/mixmaxhq/arena/blob/master/src/server/views/api/index.js#L13
* jobRetry
* jobRemove

https://github.com/mixmaxhq/arena/blob/master/src/server/views/dashboard/index.js
* jobDetails

[2017-06-28 01:20] #18 closed

[2017-06-30 23:29] xdc0 opened #23 "Support for filtering jobs"
It would be nice to filter jobs in a particular state given some criteria. The most useful use case in my opinion is searching for failed jobs whose first error matches some search term.

[2017-07-05 13:18] sdbondi opened #24 "Retry failed job does not work or is not implemented"
Cannot retry failed jobs because `PATCH http://localhost:4567/api/queue/application/docgen/job/3` fails with 404.

[2017-07-10 18:42] #19 closed

[2017-07-10 18:42] #17 closed

[2017-07-10 19:45] randallm commented on #24
Fixed in release v1.4.0, thank you for the report.

[2017-07-10 19:45] #24 closed

[2017-07-10 19:46] randallm commented on #22
Fixed in release v1.4.0

[2017-07-10 19:46] #22 closed

[2017-07-10 20:49] randallm commented on #18
@kievechua This is in the current (v1.4.1) release, with the [`disableListen` flag](https://github.com/mixmaxhq/arena/blob/6ec772af43a19306309954caf7d18da3da89c331/index.js).

[2017-07-11 07:52] pballester opened #26 "[DOCKER] Unable to find tag `latest` on docker hub repository"
Hello there!

The `latest` tag is not mandatory but it's recommended and a good practice in Docker repositories.

Regards.

[2017-07-11 17:01] randallm commented on #26
Added the `latest` tag and we'll be maintaining that from here on out — thanks for the recommendation.

[2017-07-11 17:01] #26 closed

[2017-07-11 19:34] randallm opened #27 "Add support for timezone options"
For example, if connected to a server on the east coast the timezone returned will be EST regardless of where you are. It would be nice to be able to configure this (or at the very least, explicitly display the timezone range)

[2017-07-11 19:42] bradvogel commented on #27
The easiest way to fix this is just to write `<script>document.write(new Date(timestamp))</script>` when rendering the page. That will localize the time to the browser

[2017-07-11 23:06] randallm opened #28 "Next page link in pagination is broken"
https://github.com/mixmaxhq/arena/blob/master/src/server/views/dashboard/templates/queueJobsByState.hbs#L33

We need to unindent `queueHost` and `queueName`.

[2017-07-15 16:06] jrobson153 opened #29 "When running as a node module, arena cannot be nested within a router"
I'm running arena as a node module alongside the rest of my app. For this use case it would be great to be able to nest it within a router so that the dashboard could be accessed at `someapp.com/arena/dashboard` for instance, like this:

[code]

This is not currently possible, because all href links within the dashboard (and assets) are referenced directly at the root, i.e. `<a href="/dashboard/..

[2017-07-20 21:57] randallm commented on #29
Added in v2.0.1.

[2017-07-20 21:57] #29 closed

[2017-07-20 21:58] randallm commented on #28
Added in v2.0.1.

[2017-07-20 21:58] #28 closed

[2017-08-02 06:32] prcongithub opened #35 "Completed count not getting incremented when a job is done"
bull: "3.0.0-rc.4"
 bull-arena: "2.0.3"

Whenever a job is added, I can see the active count for the queue getting incremented. However, when the job is completed, the active count goes down by 1 but the completed count remains 0.

[2017-08-02 17:11] bradvogel commented on #35
If you inspect redis directly by looking at the `bull:<queueName>:completed` key, do you see jobs in there?

[2017-08-03 08:04] prcongithub commented on #35
I think this was a temporary glitch on my local machine. Things seem to be working fine now. Will take a look at redis key as well.
Thanks!

[2017-08-03 08:04] #35 closed

[2017-08-05 14:07] karthikiyengar opened #37 "Job count not reflected on 3.0.0-rc.4"
The dashboard does not seem to reflect the actual statuses. Find image below

![screen shot 2017-08-05 at 7 33 39 pm](https://user-images.githubusercontent.com/8260207/28996017-2ec53c0c-7a15-11e7-9403-37eff4c951b7.png)

Here are the keys from the CLI

[code]

Here's my index.json
[code]

I'm using the docker image, if that is helpful.

[2017-08-07 01:35] bradvogel commented on #37
Can you print the contents of list `bull:deactivate user:failed` in redis? I think it's SMEMBERS. Does it have jobs?

[2017-08-07 05:41] karthikiyengar commented on #37
Here you go. FYI - Redis 3.0.2 wouldn't work to, so I upgraded Redis to 4.0.1, and I'm still facing the same issue.

[code]

[2017-08-10 03:51] yo8568 commented on #27
How to localize the time to the browser when using docker images ?

[2017-08-10 06:39] bradvogel commented on #27
Once this issue is fixed, the time will also be localized when run in docker.

[2017-08-11 14:00] karthikiyengar commented on #37
@bradvogel - Anyway I can speed this up or help out?

[2017-08-11 14:22] karthikiyengar commented on #37
@bradvogel - Apologies for taking up your time - my configuration was off. I was not clear on using the "name" property. Digging around in the code helped clear things up. I'm closing this.

[2017-08-11 14:22] #37 closed

[2017-08-11 17:18] etiennea commented on #37
Can you clarify? I have the same issue

[2017-08-11 19:07] karthikiyengar commented on #37
@etiennea - If you look at my config, I've set the queue name as "aws-queue" in the config, wheras my queue is called as "deactivate user".
[code]
The name of the queue in the config and the name of the queue you've declared must be the same :-)

[2017-08-11 23:49] eXtremeX opened #39 "Can't see job types"
Hello, I tried following instructions but I can't see job types, I can however see everything else.
Would be really thankful if someone could point out what I'm doing wrong.

[code]

If I type in redis-cli keys *, I can see

[code]
I've attached screenshot.

Thank you very much for trying to help!
![problem](https://user-images.githubusercontent.com/8009142/29235601-68428fd0-7f00-11e7-9888-bea108c

[2017-08-13 03:04] dreamcatcha commented on #39
Same issue here, I thought it might have something to do with the prefix param but defaults to bull when not supplied, and I have tried both ways.

[2017-08-14 12:18] eXtremeX commented on #39
@dreamcatcha I, too, tried it both ways. Either we're doing something silly, or something's wrong. If it is the former, we could improve readme a bit after we figure it out!

[2017-08-14 14:04] dreamcatcha commented on #39
Absolutely ;)

[2017-08-16 01:27] ccw commented on #39
It should be caused because the usage of `getJobCounts` function [here](https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/queueDetails.js#L15). According to [bull's API reference](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queuegetjobcounts), it should be called without giving any parameters.

[2017-08-16 01:32] ccw commented on #39
Same issue [here](https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/queueJobsByState.js#L24) causes the paging not working.

[2017-08-21 11:54] Slaventsiy opened #41 "Collapse doesn't work with repeatable jobs"
Collapse works unless bull job is repeatable. Running latest arena on Chrome v60.

[2017-08-21 14:13] ttacon opened #42 "Human readable queue statistics (i.e. `used_memory`)"
It would be great if there was the ability to provide a, more easily, human readable format for `used_memory`. At the moment you can't simply glance at it and ingest the provided information.

Specifically, it would be great if this was more easily human readable:
<img width="420" alt="used_memory" src="https://user-images.githubusercontent.com/2548998/29522978-4d6d7eda-8659-11e7-989b-41874e09cce6

[2017-08-22 14:35] Slaventsiy opened #43 "Crashes when jobs are being processed"
Running Arena 2.1.1 in docker. Arena crashes when opened in browser and application is processing jobs. Application itself runs smoothly (uses bull v3.0.0-rc7). Here's the log:

[2017-08-23 08:31] Slaventsiy commented on #43
Seems to only happen with repeatable jobs.

[2017-08-23 10:30] leemason commented on #39
can this pull request be merged? i too have the same issue and cant resolve.

[2017-08-23 16:32] yulianovdey commented on #43
+1. Perhaps just needs an upgrade of bull?

[2017-08-23 16:44] bradvogel commented on #43
Yes might be. Try upgrading Bull first. If that doesn't work, then there's probably a bug with repeatable Bull jobs. I don't think we ever tested that (we use Bee Queue btw).

PRs welcome!

[2017-08-23 19:40] p3x-robot opened #44 "Where have missed the functions"
Ciao!
How are you?

The latest version all that shows:
![image](https://user-images.githubusercontent.com/28588124/29634899-960170cc-884b-11e7-8ce5-4cb462643e51.png)

Where are the functions??? :)

[2017-08-23 20:48] bradvogel commented on #44
Are you using Bull or Bee Queue?

[2017-08-23 22:53] #39 closed

[2017-08-23 22:58] bradvogel commented on #39
Yes, sorry for the delay. Published as 2.1.2

[2017-08-24 01:30] bradvogel commented on #41
Yes, you're right. This is probably a bug. I don't think we ever tested Arena with repeatable jobs (we use Bee Queue which doesn't have them)

[2017-08-24 12:41] #44 closed

[2017-08-30 03:19] aztechian opened #45 "Job progress bar doesn't work with Bull v3"
It appears that Bull v3 (precisely, 3.0.0-rc.4) returns a job's JSON object with `_progress` holding the progress field, instead of just `progress`. Thus, the progress bar in arena always effectively shows 0 percent.

logging the JSON object returned from the Queue class gives:
[code]

Which ends up with a display looking like:
![image](https://user-images.githubusercontent.com/1534350/29853624-3d

[2017-08-30 03:23] bradvogel commented on #45
Progress is actually broken in bee-queue (due to bee queue not supporting it). So feel free to submit a PR to fix it for Bull and hide it for Bee

[2017-08-30 05:33] #45 closed

[2017-08-31 14:31] #41 closed

[2017-08-31 14:33] #43 closed

[2017-09-20 06:02] MichalZak opened #50 "Can you help me with setup"
Not sure if I'm reading the instructions properly, need clarification:

Here is what I have so far:

//bull setup
var test= new Queue('test');

//arena setup
const arena = Arena({
    "name": "test",
    "port": 6381,
    "host": "127.0.0.1",
    "hostId": "Server Name"
  });
app.use('/arena', arena);

Right now no ques are showing up, its empty.  What am I doing wrong?

[2017-09-20 09:12] hungln213 opened #51 "job : Cannot read property 'name' of undefined"
sometime error when click job.

[2017-09-27 21:54] PauloFerreira25 opened #52 "Add filter by status"
Hello,
Please add a way to know by message status, which queue has message.
For example, have a location that shows which queues with failed messages. Or what are the queues that have messages in wait.
I have about 200 rows, and it's pretty bad having to open one by one to know the states.
Thanks for listening.

[2017-09-28 11:13] krazyjakee opened #53 "Ability to add a job"
This is super useful for debugging purposes. I can test the process functions on jobs by quickly adding them and varying the data.

- [x] Add a button in the Queue overview "Add Job"
- [x] On click open an empty [JSON editor](http://jsoneditoronline.org/) for the user to populate.
- [x] On submit, show a success notification but keep the data in the editor for further debugging.
- [x] Add a close

[2017-09-28 11:18] krazyjakee opened #54 "Interface polish"
- [x] Sort Queues in the overview alphabetically.
- [x] "Queue Navigation Tree" is basically breadcrumbs, let's take back that real-estate and have a horizontal breadcrumb at the top.
- [x] ~~Put some system statistics in the overview.~~ Ok nvm this
- [x] Make statistic numbers human readable (gb, mb etc). #42
- [ ] Localize times #27

Other than that, I love the simplicity of this queue manager.

[2017-10-02 16:27] PauloFerreira25 opened #57 "expressjs use Helmet"
Please add use Helmet in express

http://expressjs.com/pt-br/advanced/best-practice-security.html

[2017-10-03 21:26] krazyjakee commented on #50
Try this:

[code]

If that doesn't work, you're going to have to manually check to see if the queue is actually running and able to read/write to redis. I personally use [this app](http://fastoredis.com/) to check what's going on in redis.

[2017-10-03 21:28] krazyjakee commented on #57
For those who want details in english: http://expressjs.com/en/advanced/best-practice-security.html#use-helmet

[2017-10-03 22:17] krazyjakee commented on #52
So show the details of the queue right in the overview so you don't have to click through each one? I think it's a great idea, however, it's costly to query redis as heavily as this.

I think it could be achieved with some front-end magic by lazily retrieving the queue details one by one, perhaps even with some lazy live updating too.

[2017-10-03 22:19] krazyjakee commented on #51
Is this still an issue? Do you have some steps to recreate it or is it truly random?

If so, I think we need some kind of retry/back off logic to give the client a more constructive message.

[2017-10-03 22:32] krazyjakee commented on #23
Great idea.

Sadly, redis does not support value searches but we could hand the entire job set over to the client in the form of a [clusterize table](https://clusterize.js.org/) which can support hundreds of thousands of rows without a performance hit. A form could then be constructed to perform the filtering and update results in the table. It would need a lot of testing.

If a client-side soluti

[2017-10-03 22:40] krazyjakee opened #58 "Reactify the client?"
So I am biased as I know react and love jsx templating. I'd like to get your opinions on this as I feel we could dumb down the back-end to a simple json api while the front-end could be snappier and implementing live updates would be a sinch.

I understand [this is my code](https://github.com/krazyjakee/arena/blob/master/src/server/views/dashboard/templates/queueDetails.hbs#L53-L85) but I wanted a

[2017-10-03 22:45] bradvogel commented on #58
Yes, go for it! We switched our product's frontend from Backbone to React shortly after we wrote this (and blogged about it here https://mixmax.com/blog/backbone-to-react-without-rewriting). So moving this to React would be very welcome.

[2017-10-03 22:53] bradvogel commented on #23
Some of our queues are 3GB, so sending all that data to the client for filtering won't work.

Why not have the server just read each job from redis, perform the filter, and then stream results to the client?

[2017-10-03 22:55] krazyjakee opened #59 "Zero configuration deployment"
I'd like to suggest that Arena get it's own configuration and other settings from a settings interface. That way, it's ready to go out of the box and the user can configuration redis servers and other settings while it's still running.

We should of course keep backwards compatibility with config files by loading that data into Arena's database. I think the "database" could be stored as a json blo

[2017-10-03 23:01] krazyjakee commented on #23
@bradvogel ok, 3GB is a great example to think about. It's worth testing at least but I doubt we could have such functionality as an autocomplete.

[2017-10-03 23:04] bradvogel commented on #23
Nah - it'd have to stream each job (key) from redis and run the filter in the backend, then stream it to the frontend if it matches.

[2017-10-03 23:07] krazyjakee commented on #23
@bradvogel ah! I hear you. Yeah I'm picturing loading indicator, progress bar, options to filter by job data by values, response content. Could be a great addition.

[2017-10-03 23:18] wearhere commented on #58
Nice!

Note that even at Mixmax we server-side render some initial HTML for optimum time-to-render (user isn't stuck looking at a totally blank page while the client loads). (For example, load `'https://compose.mixmax.com/message?user=' + YOUR_EMAIL` with JavaScript disabled.) We then render the React app into that container. Hopefully you can keep that approach, e.g. SSR the table header and side

[2017-10-03 23:20] krazyjakee opened #60 "Authentication"
I'd like my Arena instance to be effortlessly protected from prying eyes. Perhaps a configuration option for setting a password? The user would need to enter a password to access the interface.

[2017-10-03 23:23] krazyjakee commented on #58
I would argue that it's a dev-facing webapp and time-to-render might not necessarily matter but Steve Jobs made the point of cleaning the parts of his car nobody would ever see and he did ok for himself.

[2017-10-03 23:30] krazyjakee opened #61 "Live updates"
Please forgive my lack of redis knowledge, but do any events in this library allow for redis to trigger an update in the server and therefore client? https://github.com/NodeRedis/node_redis - We're getting into websocket or long-poll territory then and perhaps that's going overboard.

If not, I guess a front-end interval would suffice. Since this would be ajaxy as hell, I suggest we perhaps solve

[2017-10-03 23:35] wearhere opened #62 "`disableListen` is unnecessary"
The server only starts listening if Arena is [loaded directly](https://github.com/bee-queue/arena/blob/a72c32ea4faae616683948db58b2ed717abd0df7/index.js#L24) i.e. in standalone mode.

When mounting Arena into another server, the client would not be calling `run`, so `run` does not need to take an option that disables listening (and I'm not sure why you would call `run` if you _didn't_ want to list

[2017-10-03 23:41] wearhere commented on #58
@krazyjakee haha! yeah it's partly about time-to-render and partly about not trying to force everything to client-side rendering if the server is [already rendering](https://github.com/bee-queue/arena/blob/master/src/server/views/layout.hbs) some initial HTML alright. Less work to refactor

[2017-10-03 23:42] krazyjakee commented on #60
@wearhere I definitely hear what you're saying regarding the scope of Arena, that's really up to you guys. Basic Auth is perfect for that use case but when using standalone or just spinning up an arena docker container, there's nothing built-in that will protect the interface. I'm just digging the idea of this zero-effort configuration where you just fire up an instance of Arena, use [the magical

[2017-10-04 00:02] wearhere commented on #60
@krazyjakee if you can keep the code small and tightly-scoped (e.g. just Basic Auth, other forms of auth left to the client) I'm not necessarily opposed. Curious where would you store the creds though? Probably blocked on #59 then. Alternatively I suppose you could pass the desired password into the standalone server or the Docker container as an environment variable.

Note that even when running

[2017-10-04 02:25] PauloFerreira25 commented on #52
No need to show the details, just something like:
Queues with errors:
| queue | number |
|ABC    | 10          |
| XYS   | 5            |
When choosing the queue, go to specific part of the queue.
I understand that if the queue has many messages this will create a problem.
So that my queues cleaning is super fast.
but it would help a lot if that was already done in the arena.
thanks for listening.

[2017-10-04 02:35] PauloFerreira25 opened #63 "add resend of a completed message"
Hello,
It may seem strange, but it would be very useful to me.
If they can include this option.
It already exists in failed messages, but does not exist in completed messages.
Thanks for listening

[2017-10-04 22:46] pintocarlos opened #64 "Please fix README"
After going through the docs, it would be helpful to specify that the first parameter passed to Arena is a javascript object literal with one key value pair called `queues` that is meant to be an array of all of your queues.

I was able to infer this by context given that queues is plural and by having to look at the index.json file linked. This however could have been avoided by just showing the

[2017-10-05 01:34] PauloFerreira25 commented on #63
What I would like was the "Retry Jobs" button that exists on the "Failed" screen (image below)
![captura de tela de 2017-10-04 22-28-57](https://user-images.githubusercontent.com/1591772/31207256-8b725e90-a953-11e7-987a-a7dc7609ab1a.png)
Also exists in the screen of "Completed" (image below)
![captura de tela de 2017-10-04 22-29-20](https://user-images.githubusercontent.com/1591772/31207255-8b3e45

[2017-10-05 10:03] hungln213 commented on #51
Yes, this is an issue.
My Steps:
List queue --> click view detail someone job (maybe a few times) --> crash app.

[2017-10-07 23:47] Asp3ctus commented on #51
+1

[2017-10-10 00:26] Asp3ctus commented on #51
It seems that it is fixed in
https://github.com/OptimalBits/bull/issues/673
i have run yarn upgrade bull and it seems that it have fixed the issue

[2017-10-15 07:54] makamekm opened #65 "Production mode"
Can someone explain me... does it works in production mode? I try to compile with production flag and cannot get it work. Of course I test it remotely.

[2017-10-15 10:53] makamekm commented on #65
Close it. The problem is not in Arena.

[2017-10-19 22:17] PauloFerreira25 opened #66 "Implement move a task to another queue"
Please implement the function of moving a job from one queue to another queue.

I ask this, then, I sent 90 messages to one queue and should have sent them to another. Typing error. So I had no way to move, I had to redo everything, a little work.

Thanks for listening

[2017-10-30 14:17] joe-at-startupmedia opened #67 "Need to pass skipVersionCheck redis option to bull."
Currently there seems to be no ability to pass this flag in the redis options.

[2017-10-30 15:27] joe-at-startupmedia commented on #67
Here is a list of all of the possible option for ioredis:

[code]

Currently this is abstracted to use Bee or Queue, and I am not sure if Bee is also using ioredis or if either will change redis clients in the future. For that reason I would advise on some way to provide arbitrary options for the following:
- options to be passed to bull or queue
- options to be passed to the redis client used by

[2017-10-30 15:39] skeggse commented on #67
bee-queue currently uses node_redis, but has [an open PR](https://github.com/bee-queue/bee-queue/pull/21) to switch to ioredis. We're mostly waiting to see how ioredis and node_redis settle as they indicated an [intent to merge](https://github.com/NodeRedis/node_redis#consolidation-its-time-for-celebration) part or all of their projects.

[2017-10-30 15:53] joe-at-startupmedia commented on #67
That interesting. Regardless of when this eventually takes place, changes can be made to allow providing arbitrary options regardless of which client is used because fortunately both queue managers accept and `options` parameter and an `options.redis`. It's just that options is currently built for specific values. Could this be revised to allow options to be dynamically mapped?

[code]

[2017-11-01 18:46] itsgavinchan opened #68 "queueJobsByState.js missing basePath"
When opening in a new tab for other pages, URL does not include the basePath. This is because basePath value is not passed into the template.

[2017-11-08 15:44] foxhound87 commented on #68
also the `basePath` is missing from the pages numbers links

[2017-11-09 14:28] sylvainlap opened #69 "Job name not displayed"
Hi,

In Arena, when viewing a job, its name is not displayed.
Is that possible to add this info to the Job details page ?

Regards,
Sylvain

[2017-11-18 10:24] p3x-robot opened #71 "Reuse existing redis connection"
Ciao!

How are you?

With bull, I can re-use existing connections, how can I do with arena?

Thanks,
Patrik

[2017-11-18 11:49] p3x-robot opened #72 "Is it possible to update to the latest Bull?"
Ciao!

How are you?
Is it possible to update to the latest Bull?

Thanks,
Patrik

[2017-11-18 19:59] #68 closed

[2017-11-18 20:34] bradvogel commented on #72
Yes - PR welcome

[2017-11-20 12:44] #71 closed

[2017-11-22 05:44] lightninglu10 opened #73 "Retry jobs only processing # of processes"
Hey guys, when we use bull-arena and try to retry failed jobs, we only process through the total # of running workers of bull.

So for example in our queue we instantiate the number of processes like this:

`logHandlerQueue.process(5, path.resolve(__dirname, 'handlers.js'))`

And then when we retry jobs, only 5 runs at once, each time. The rest just go directly back into the fail queue and not wai

[2017-11-22 05:48] lightninglu10 commented on #73
I just tried this setting the number of processes to 100, and now they all try at once and have 80+ active.

I was expecting these processes to remain in the wait queue until they were picked up, but that didn't happen and they just immediately appeared back into the fail queue except the 5 that were active.

[2017-11-22 18:36] ttacon commented on #69
Can you upload a screenshot exemplifying what you mean? Thanks!

[2017-11-22 18:45] ttacon commented on #50
Hi @MichalZak, any updates? Did @krazyjakee's example help? The issue here is as he pointed out, Arena is expecting a top level `queues` object.

[2017-11-22 18:54] ttacon commented on #51
@hungln213 can you confirm if this fixes the issue for you? Thanks!

[2017-11-23 09:56] sylvainlap commented on #69
Each job can have a name: https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueadd, thanks to this signature: `queue.add(name: string, data: any).

Here is my code:
![capture](https://user-images.githubusercontent.com/8457604/33167000-70acce3c-d03c-11e7-8a95-8604fa3d1125.PNG)

You can see that my `cronQueue` has 3 process functions. However, in Arena, this `job.name` is not displayed:

[2017-11-23 10:03] sylvainlap commented on #69
I suppose all happens in this file: https://github.com/bee-queue/arena/blob/master/src/server/views/partials/dashboard/jobDetails.hbs

You can add `this.name` somewhere. I could submit a PR, but I'm a backend dev, and I really suck at html :(

[2017-11-23 12:35] devmetal commented on #51
@ttacon Hi, in this morning i faced with same issue. After i ran the upgrade the error is gone :) I think its fixed.

[2017-12-01 18:43] #64 closed

[2017-12-05 17:39] skeggse commented on #69
Fixed in 81c11fa, released in v2.2.2.

[2017-12-05 17:39] #69 closed

[2017-12-08 14:46] sumitsarkar opened #76 "How to configure redis replicated nodes for Arena?"
I could't find any documentation on how to configure a Redis.Cluster with Arena. Can someone please point me in the right direction?

[2017-12-08 14:54] skeggse commented on #76
You can provide a `url` to the `redis` config. See [here](https://github.com/bee-queue/arena#prerequisites). It's up to the underlying queue (bee-queue, bull-queue) to support cluster. Presently, bee-queue [does not support cluster](https://github.com/bee-queue/bee-queue/issues/16), but feel free to change that :), whereas bull-queue [does support cluster](https://github.com/OptimalBits/bull/#clus

[2017-12-08 14:54] #76 closed

[2017-12-27 11:41] ks-s-a opened #77 "Require error"
NodeJS version: v6.10.2
Bull-arena version: 2.2.2

Just try to require 'bull-arena' module:
[code]

Got an error:
[code]

What's wrong with it?

[2017-12-27 18:12] bradvogel commented on #77
Arena only supports Node >=7

[2017-12-27 18:12] #77 closed

[2017-12-29 04:49] sumitsarkar commented on #76
@skeggse I got it working right after your reply. Thank you so much 👍

[2017-12-29 16:57] mathieupythian commented on #72
Created PR: https://github.com/bee-queue/arena/pull/78

[2017-12-29 16:58] mathieupythian commented on #51
Fixed in PR: https://github.com/bee-queue/arena/pull/78

[2017-12-29 18:11] mathieupythian commented on #72
Fixed in 2.3.0

[2017-12-29 18:11] mathieupythian commented on #51
Fixed in 2.3.0

[2017-12-29 18:16] bradvogel commented on #72
Thanks!

[2017-12-29 18:16] #72 closed

[2017-12-29 18:16] bradvogel commented on #51
Thanks!

[2017-12-29 18:16] #51 closed

[2018-01-03 11:19] p3x-robot opened #79 "Small question about dynamic queue-s"
Ciao!

How are you? Happy new year!

Is there anyway to refresh the queue-s?

Thanks,
Patrik

[2018-01-04 01:40] bradvogel commented on #79
Not currently - we just reboot our service.

[2018-01-04 09:48] vhf commented on #67
I'd also need this to be able to use Sentinel / custom ioredis client, would you accept a PR changing this?

More specifically, we need to be able to pass [`RedisOpts`](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queue) to bull-arena.

[2018-01-04 22:15] bradvogel commented on #67
Yes, saw the PR, thanks!

[2018-01-05 18:49] #67 closed

[2018-01-09 19:13] mathieupythian opened #82 "Specify a basePath from the config file"
I'd like to propose the following enhancement to allow specifying a base path from the config file.

The config file would be changed to:

[code]

And simple check in app.js file:

[code]

I'll volunteer to create a PR for it, assuming you'd like to pull it in.

Thanks

[2018-01-13 02:28] afrozl commented on #52
I have the same request. We use a queue per task/job type so its hard to find failed jobs without opening each queue.

[2018-01-14 10:09] sharonass opened #83 "calling done with error doesnt fail the job on Arena"
I've setup a bee-queue with arena and In my local env, and I execute jobs as following

queue.process(async function (job, done) {

    console.log(`Processing job ${job.id}`);
    job.reportProgress(5);
    let res = await my_service.execute(job);
    if(res.status) {
      //report job progress
      job.reportProgress(100);
      return done(null, res.msg);
    } else {
      done(new Error(res

[2018-01-16 21:11] ohwillie opened #84 "json Handlebars helper allows unsafe HTML"
I noticed this vulnerability when I added a job to Bull that had job data that included some HTML. Since the `json` Handlebars helper assumes that its input is safe, any HTML that is rendered onto the job details page will be considered valid, including `<script>` tags.

You can repro this by creating a job in Bull (and maybe in Bee?) with data along the lines of
[code]

and then opening up the `q

[2018-01-18 07:07] sharonass commented on #83
failure listener is not being triggered, although I see the job is rejected

queue.on('failed', (job, err) => {
    console.log(`Job ${job.id} failed with error ${err.message}`);
  });

Appreciate your help with this

[2018-01-19 20:34] ttacon commented on #83
Hi there! Thanks for the issue, but this doesn't seem to pertain to `arena`, but rather `bee-queue` itself?

[2018-01-22 09:51] sharonass commented on #83
I'm not sure if it on Arena or bee-queue itself, I do see that the bee-queue code rejects it.
How do i verify where the prob is?

BTW - I opened the same issue for bee-queue project as well

[2018-01-22 13:33] ttacon commented on #83
If the issue resides with the `queue` itself, then that is an issue with `bee-queue` and not `arena. Thanks for the PR! Closing this ticket now as this isn't an issue with `arena` (as it doesn't do any processing of jobs).

[2018-01-26 10:25] Overdrivr opened #86 "README clarification regarding authentication"
It is not obvious from the README that credentials must be provided per-queue. An example would be helpful, something like

[code]

[2018-01-26 15:58] bradvogel commented on #86
Thanks. Prs welcome :)

[2018-02-14 12:35] mahnunchik commented on #71
How?

[2018-02-26 16:08] IvanLinos commented on #43
Hi,
I can confirm this is still an issue even after upgrading bull to 3.3.10.
It is almost impossible to load a queue page properly if there are being processing multiple jobs at the same time (ie. concurrency 40+).

Any clue where to start looking at a fix?

[2018-03-06 22:28] bol83 opened #89 "adding host adress"
in the index.js
we want to add the hostadress "127.0.0.1 "to the app.listen.
Thats not possible now? or am i missing something

Can the index.js file be something like the one below:

const port = listenOpts.port || 4567
// START NEW FEATURE -->
// #############################################
// add this option const
const host= listenOpts.host || '0.0.0.0';
// ###################################

[2018-03-13 14:47] marcbachmann opened #90 "Replace dependencies on CDN with local ones"
I'm working on a project where we there's no decent internet connection setup.
This basically renders the dashboard useless.
What's your opinion regarding replacing the assets hosted on cdn.jsdelivr.net with local ones.
This will affect the jquery, bootstrap and highlightjs.

https://github.com/bee-queue/arena/blob/be866d368b44f95dbe4424ba71d6b5ec7d7843e9/src/server/views/layout.hbs#L9-L16

[2018-03-14 12:25] ttacon commented on #90
I'd prefer we don't do a full swap out here (as we'd lose the benefit of the CDN for other users 😄 ). However, I wouldn't be strongly opposed to make the location a template variable that defaults the the CDN host but that could be overridden by a configuration value.

[2018-03-26 20:30] tim-soft opened #92 "Readme Improvements"
I had a real heck of a time understanding how to build a working config for arena. I think it would be a lot more helpful to show a full working config for bee-queue and bull instead of what is in the readme currently.

Here's a working outline for a config for bull setup as an express middleware. I hope this helps other people get up and running!

[code]

[2018-03-29 08:43] aurelben commented on #92
just what I need ;)

Thanks a lot

[2018-03-29 16:37] bradvogel commented on #92
Thanks so much for filing this! Would you mind making a quick PR to update the readme?

[2018-04-11 08:24] pjanuario opened #93 "Update the docker image"
The docker image available is 9 months old and related to v2.0.2 and the project is at version v2.4.2.

I would suggest the configuration of CI tool such as travis to automaticly build and publish the image on each tag push.

[2018-04-21 22:10] #79 closed

[2018-04-25 15:04] sparebytes commented on #29
There another issue if arenaRouter is nested inside another router. EG: ```
const app = express();

const authenticatedRouter = express.Router();
app.use('/authenticated', authenticatedRouter);
// ...

const arenaRouter = arena({ ... }, { basePath: '/authenticated/arena', disableListen: true });
authenticatedRouter.use('/arena', arenaRouter);
[code]

[2018-04-27 06:39] minheq commented on #92
omg thanks!

[2018-04-27 12:05] ttacon commented on #93
Absolutely, thanks for bringing this up!

[2018-05-04 12:37] ttacon commented on #92
This has been added to the README [here](https://github.com/bee-queue/arena#example-config-for-bull) and references @tim-soft as the author. Thanks again @tim-soft!

[2018-05-04 12:37] #92 closed

[2018-05-11 19:31] gabegorelick opened #95 "TypeError: Cannot read property 'replace' of null"
I'm getting the following error a lot when trying to access pages in the web UI:

[code]

[2018-05-14 01:15] gabegorelick commented on #95
Happens on pretty much all pages, but randomly. I’m using bull.

On Sun, May 13, 2018 at 1:25 PM Trey Tacon <notifications@github.com> wrote:

[2018-05-18 18:51] ryedin commented on #93
Super Big +1

Just getting started, pulled down the latest docker image, ran into immediate issues.

[2018-05-19 03:34] hbakhtiyor opened #97 "not possible to install as stand-alone version?"
e.g.
`npm install bull-arena -g`, and use `bull-arena` cli

[2018-05-20 03:13] hbakhtiyor commented on #97
something like this
* install globally with such command line `npm install bull-arena -g`
* run `bull-arena` cli
* the cli asks configurations from terminal or via browser
* and generates the configurations to ~\.arena.json (or ~\.arena\config.json, ...) file
* and for second run uses the config file.

[2018-05-21 16:46] gabegorelick commented on #95
It just has the same stacktrace I posted above. No other logs.

We're not running inside a container. Just mounting it with `express`:

[code]

We're also seeing some weird jobs in Bull. It may be that Arena doesn't like that. I can provide more detail once I can figure out what's going on in Bull.

[2018-05-31 12:28] pthm opened #99 "Unable to install using Yarn"
When installing via yarn this error is thrown.

[code]

As I understand it Mixmax have switched to NPM internally but this engine definition affects users of the modules when trying to install using alternative package managers.

[2018-05-31 14:51] pthm commented on #99
Not sure if its viable as I havent tested it on a live package but I think something along these lines would allow you to keep the engine in place for local/internal development but momentarily remove it when publishing

[code]

Here I am just using the stream editor to remove the line matching `'/\"yarn\"/` in the package.json before publish and then restoring it from a backup afterwards

[2018-05-31 15:42] ttacon commented on #99
Fully agreed on this, we'll update `yarn` support very soon.

[2018-06-01 06:13] Nemmo commented on #99
Hi, what's wrong with yarn? I have to fix version at '2.4.3'

[2018-06-01 07:35] #99 closed

[2018-06-01 07:47] wearhere commented on #99
Fixed in 2.4.5 folks, sorry about the breaking change. Mixmax has indeed [moved back to npm](https://mixmax.com/blog/to-yarn-and-back-again-npm) for development (this engine requirement was introduced by the [automated tool](https://github.com/mixmaxhq/deyarn) we used for the migration), but y'all ought to be able to use Yarn to install the module if you like.

@pthm thanks for the suggestion abou

[2018-06-08 14:43] moltar opened #101 "Bulk remove is not working when running as a node module."
All other routes/actions seem to work, even the single job delete. But the bulk remove hangs and never completes. Tried debugging it, and it seems like it's not even hitting the route handler.

[2018-06-13 20:42] dostu opened #102 "Job progress is broken"
Job progress is always 0%.

I believe [this](https://github.com/bee-queue/arena/commit/33f730a69f45c2887f6fcd1ad48e42250b214782#diff-9a220580a657ea11601817f0fa5303f9) commit introduced the problem.

Does anyone else face the same issue? If it's not just me, maybe we should revert that commit?

[2018-06-26 08:19] wmhafiz commented on #102
its not just you. can confirm i was able to fix by reverting that commit. thanks!

[2018-06-26 12:56] ttacon commented on #102
For clarification, which bull or bee-queue version are you using?

[2018-06-26 13:47] dostu commented on #102
I'm using bull 3.4.2

[2018-06-28 09:33] LukeStonehm commented on #102
I too am getting this issue with Bull 3.4.2.

[2018-06-28 14:39] sebaplaza opened #104 "Use an optimized alpine docker image"
The Dockerfile is based on node:8.1.2 (based on debian)

We could use the lighter image based on alpine, to run arena we don't need a big image like debian.

Also, we could be based on node:8-alpine, to get the last security updates automatically.

There is a number of optimizations that can be applied, based on node best practices

https://github.com/nodejs/docker-node/blob/master/docs/BestPracti

[2018-07-02 02:16] rosshadden commented on #101
I have the same issue. I found that there are three cases in which I can get that call to hit the endpoint:

1. I don't send the `Content-Type` header
2. I don't send the data payload itself
3. I comment out [the JSON body parser](https://github.com/bee-queue/arena/blob/55de833df4adca0b6558c469a56f4a21e6fd2df0/src/server/app.js#L33)

Thus I think it's a problem with the json body parser, but I cou

[2018-07-02 14:28] moltar commented on #101
So is it a problem maybe that the JSON was already pre-parsed by the server that integrates the arena?

[2018-07-02 15:24] Ilshidur opened #105 "`app.use('/jobs', arena)` + `basePath : '/jobs'` listens on "/jobs/jobs" instead of "/jobs""
As said in the title, I think the routing is incorrect when using this module with nested routes.

Example :

[code]

When accessing the dashboard on `/jobs/jobs`, the assets can't be accessed and the assets requests results in a 404 error : `/jobs/dashboard.css` (happens with the other assets).

It this an intended behavior ? If so, I didn't find any doc about this :-(
Is this a bug ? If so, [I o

[2018-07-20 01:17] milesalex commented on #43
Getting the same error!

[2018-07-20 21:47] Duskfall commented on #43
Same here
![image](https://user-images.githubusercontent.com/2528125/43026718-a25a9f86-8c7f-11e8-9c83-b499e71718dd.png)

[2018-07-20 22:39] milesalex commented on #43
@Duskfall What version of arena are you using? I was using the docker image provided and then i built by own and the bug went away, but now I have other errors 🙃

[2018-07-20 23:24] Duskfall commented on #43
@milesalex The one provided in the image, I haven't changed it to be honest :P

[2018-07-21 17:20] milesalex opened #110 "ReferenceError: jobTypes is not defined"
[code]

When I try to click into the job types on the main page I get this error. For example when I try to see all  `complete` jobs.

Using bull. Will try to fix the error when I have some extra time.

[2018-07-21 19:08] tylercollier commented on #110
I went back to commit eef2b1a. If you do a `git reset --hard`, don't forget to save off your `src/server/config/index.json`!

[2018-07-21 20:08] milesalex commented on #110
@tylercollier  Ahh, actually I just fixed this bug in the PR referenced.

[2018-07-23 10:51] dotob commented on #89
would it help if a made a pr for this?

[2018-07-24 09:56] alexisohayon commented on #23
Hello!

Is there still a feature ongoing for this issue? :)
Would be very handy!

Thanks for the good work :)

[2018-07-24 17:57] #110 closed

[2018-07-24 21:14] milesalex opened #113 "Remove job button: Request failed, check console for error."
Unsure why its failing when I try to remove a job from the queue. Also no logs :(

[2018-07-24 21:38] ttacon commented on #89
Yup! PRs are always welcome!

[2018-07-27 13:17] ttacon commented on #89
#114 has now been merged - we'll cut a new release a push up a new docker image soon.

[2018-07-27 13:17] #89 closed

[2018-07-30 17:25] milesalex opened #115 "ReplyError: OOM command not allowed when used memory > 'maxmemory'."
[code]

[2018-07-30 20:15] ttacon commented on #115
What's the question here? From the stack trace this seems like a `bull` issue and not an `@bee-queue/arena` issue?

[2018-08-05 19:48] ezsper opened #116 "Custom Job id and collapse error"
If `/` or other special character (not escaped in the `encodeIdAttr` function) are present in the job id, the job details when collapsed won't open and an error is thrown in the console by `jquery.bootstrap`.

This is a problem when using custom job ids, and in my case with those special characters on it.

To fix this you can simply replace in file [src/server/views/helpers/handlebars.js:43](https

[2018-08-07 14:27] #115 closed

[2018-08-08 20:38] scottbasgaard commented on #101
Have this issue as well.

[2018-08-08 20:38] scottbasgaard commented on #113
Related to #101

[2018-08-09 04:30] tidusvn05 commented on #101
I have the same issue.
{
  "error": "queue error",
  "details": "Error: Could not remove job

[2018-08-09 11:48] scottbasgaard commented on #101
Can confirm, single job delete works, it's the bulk one.

[2018-08-10 12:39] ttacon commented on #116
Great debugging! PRs are always welcome 😄! We should be handling this and allowing users to use custom names.

[2018-08-10 12:41] #102 closed

[2018-08-14 18:01] moltar opened #117 "Display all stats on the queue listing page"
I often want to see the entire app health at a glance. It'd be super useful if the Queue Overview page displayed all of the same Job Types counts that are displayed on the Queue view page.

Thanks!

[2018-08-14 19:52] milesalex commented on #101
Same issue here

[2018-08-18 02:55] ttacon commented on #117
Definitely intrigued, can you expand a bit more on what you mean?

[2018-08-18 03:04] ttacon commented on #101
Is there a test config or setup that someone can provide that reproduces the issue?

[2018-08-21 11:15] tonywei92 opened #118 "[beequeue] After "retry" jobs, the queue not retrying, only moved to waiting list"
my arena config:
[code]

please help

[2018-08-21 12:33] ttacon commented on #118
Hi there! Are you using bee-queue or bull? Are you sure that your queue is processing (if it's not the job will be in the waiting status until the queue picks it up)?

[2018-08-28 15:49] hraban commented on #105
Ran into the same problem. Work around:

[code]

[2018-08-30 08:48] scottbasgaard commented on #101
I'm not sure what changed on my application end but this now works again... 🙏

[2018-08-30 14:10] ttacon commented on #101
Can someone else that is still experiencing this provide a config that reproduces the error? Otherwise, I'll close this next week.

[2018-09-06 14:43] VincentSurelle commented on #93
+1 👍

[2018-09-07 13:32] ttacon commented on #101
Closing this due to lack of activity/a reproducible config. Happy to reopen this if someone can provide a config to repro this issue!

[2018-09-07 13:32] #101 closed

[2018-09-11 08:54] squgeim opened #120 "`PayloadTooLargeError` if area is initialised before bodyParser with higher size limit"
If arena is added to an existing express application with a body parser initialized with a higher size limit, that size limit is not respected and a `PayloadTooLargeError` is thrown.

Example:

[code]

If a request body is larger than then default limit (I guess it is 100KB), a `PayloadTooLargeError` is thrown.

This works though:

[code]

[2018-09-11 09:44] squgeim commented on #120
This is related to this https://github.com/expressjs/express/issues/1772.

If a sub-route is mounted to the root app, the middlewares are overridden, thus the bodyparser in arena overrides the middleware in the application.

One solution would be to mount arena in a subroute, but we can't do that due to this issue: https://github.com/bee-queue/arena/issues/105

[2018-09-12 20:07] #105 closed

[2018-09-17 13:08] scottbasgaard commented on #52
Bumping this as it would be a really nice feature.

I'm thinking either a filter like proposed here or some kind of icon / badge on Queues overview page with the status of all queues (job count), but for now just something there would be good.

[2018-09-19 05:24] MrNghia123 opened #121 "Setting up Arena as a node module"
Hi,

Thanks for the package.

I have an express app as the frontend to mange a backend system making use of bull queue to process files download/upload
I want to set up arena to use in the current express app to share all the security and other facilities.
I followed the guides here https://github.com/bee-queue/arena#running-arena-as-a-node-module.
2 issues:
1/ Asynchronously build the queues conf

[2018-09-22 19:13] ephillipe commented on #93
If anyone interested, I created a automated build pointing to latest release.
To get: docker pull ephillipe/bull-arena

[2018-09-29 10:36] marano commented on #95
I am seeing this issue specifically on the completed jobs page.

[2018-10-01 13:38] tusbar commented on #93
Could you please set up an official docker image build on docker hub?

If you don’t have the time, please add me to the org, and I will do it.

/cc @chuym  @LewisJEllis

[2018-10-01 13:43] pjanuario commented on #93
I also think a official image would be better or a lot of froks will appear :/

[2018-10-10 15:52] milutin-apostol opened #124 "Cannot remove stuck bull job"
Cant remove stuck bull job.
When click `Remove Job` button this is the response from server:

`{error: "queue error",…}
details
:
"Error: Could not remove job c5872330-794e-495a-b188-66c785df192b↵    at /home/apostol7/Desktop/arena/arena/node_modules/bull/lib/job.js:372:13↵    at tryCatcher (/home/apostol7/Desktop/arena/arena/node_modules/bluebird/js/release/util.js:16:23)↵    at Promise._settlePr

[2018-10-11 16:15] Frozenfire92 opened #125 "Job data only appearing for failed jobs"
Working on switching to bull (with arena) from kue.js

Overall this transition has been good and pretty straightforward, but I'm encountering a bug that is becoming a blocker

It appears that a job's data will show as an empty object, unless that job fails. This is less than ideal. Is this a setting or a bug? I know that the data is there as it works inside the app consuming properly.

Happy to he

[2018-10-11 20:17] Frozenfire92 commented on #125
After further investigation I believe this issue is partly with my code, and partly with how bull handles errors, and unlikely with the arena library

For completed jobs I needed to send data with the `done` callback, for example `done(null, job.data)`

I wasn't able to get it to work when sending errors, but I think this is a bull implementation detail

[2018-10-11 20:17] #125 closed

[2018-10-24 16:28] maxired opened #127 "discovery of queue ?"
Hey,

from what I understand so far, it looks it need to configure all the queue that I want to monitor. It that right ?

The application I am working on is creating queues on the fly, so I was wondering whether I could dynamically monitor all queues, starting with specific prefix ?

[2018-10-25 17:50] zhenyulin opened #128 "add job in the UI"
just started using arena, and was wondering if there's the capability to `add a job` in the UI directly at the moment?

[2018-11-13 02:28] Steven086 opened #131 "need to show more info on dashboard"
A job has many properties such as name, title, author etc. Arena shows only jobId and name in the lasted version. In some case,  title can be understood better than name for one job.  Then it will be better to show more fields, say according to  config options,   on  dashboard for a job state.

[2018-11-13 19:17] mshwery opened #132 "Paused jobs not properly handled by queue state url handler"
Because `paused` is not in the [accepted list of bull queue states](https://github.com/bee-queue/arena/blob/master/src/server/views/helpers/queueHelpers.js#L27), it is treated as [an individual job](https://github.com/bee-queue/arena/blob/cbfa82ac09c12ae074a5fe8c23d52c64ee178de2/src/server/views/dashboard/index.js#L10-L11) which fails on `hgetall` with a `WRONGTYPE` error from Redis:

[2018-11-13 19:22] mshwery commented on #132
Wondering if it makes sense to map to all of these states in particular: https://github.com/OptimalBits/bull/blob/5e52e045a0a58d5126f4af3e4572b4af86cc7f9d/lib/getters.js#L20-L30

[2018-11-13 19:33] mshwery commented on #132
Addressed in #133

[2018-11-20 00:07] dwightkelly commented on #127
We create queues on demand for specific complex jobs. This means we can't add them all to config index.json file.

[2018-11-20 15:33] pdcp1 opened #134 "Retry button fires a remove action"
When I select a failed job and click "Retry Jobs", it actually fires a "Remove" action in the same way as "Remove jobs" button.
I found this call in Chrome Dev Tool console when I clicked "Retry Jobs"

![image](https://user-images.githubusercontent.com/6564809/48783935-4f1d5b00-ecc0-11e8-8fc7-758fa7851753.png)

[2018-11-26 22:15] shaklinThrill opened #135 "Dashboard isn't updating."
Have Setup arena, Test Queue behaves as expected while testing through Terminal queue status gets printed, while checked on the dashboard there is no update.

[code]

[code]
Arena is setup at different app.
The Config as follows:
[code]

<img width="359" alt="screenshot 2018-11-27 at 3 41 55 am" src="https://user-images.githubusercontent.com/42565041/49045304-99d63000-f1f6-11e8-8697-272297e6deeb.p

[2018-11-27 11:48] p-j opened #136 "Security vulnerability linked to nodemon"
Hi,

A security vulnerability was found in event-stream  https://github.com/dominictarr/event-stream/issues/116
Any version past 3.3.4 may be vulnerable.

A vulnerable version of EventStream is present in the dependency tree of bull-arena via nodemone@1.18.4
[code]

It is advised to upgrade to `nodemon@^1.18.7` to get rid of the problematic dependency tree.

[2018-11-27 13:08] p-j commented on #136
Linked to #137

[2018-11-27 16:25] skeggse commented on #136
Thanks for flagging. This isn't presently a problem because the lockfile [pins event-stream to 3.3.4](https://github.com/bee-queue/arena/blob/e48aa7391a9e8cf777dd0032b8b0a3f508d228fb/package-lock.json#L1079). I'll update `nodemon` regardless.

[2018-11-27 17:48] #136 closed

[2018-11-28 09:55] eeVoskos commented on #136
When should we expect a new release on npm @skeggse? Cloud services are already "protesting" against our builds with the old `nodemon` version! :-/

[2018-11-28 13:34] p-j commented on #136
It isn't for a straight use of arena, but in our case we use it programatically inside an existing express server and as we use `yarn` as a package manager, the package-lock.json isn't followed.
The description of the dependency tree above is actually from one of my app.
It's not a problem per se because getting rid of the node_modules and reinstalling grabs the newest version of nodemon, but push

[2018-11-28 13:42] eeVoskos commented on #136
There is a problem specifically with cloud deployments (namely Google AppEngine). Even if you replace the dependency in package-lock.json, `npm i` is run by the build system and replaces `nodemon` with the "malicious" version, causing build errors.

[2018-11-28 15:02] sebaplaza commented on #93
We should also use an optimized image. #104

[2018-11-28 15:59] maxired commented on #127
Hey @ttacon sorry, been off for a while ;)

I use bee queue for an ecommerce project I am working on.
Basically, computing the price is the job done in the queue.

What we do is creating a new queue for each different orders.
This allow us to control were the job is processed and so on

[2018-11-28 20:02] skeggse commented on #136
Published as `v2.5.1`.

[2018-11-29 16:52] #104 closed

[2018-12-09 08:30] JonDum commented on #127
Another use case here. Each "queue" is a different pub/sub message type in one of our services and there are many of them. Would be great if arena could just figure out all the queues without having to specify them in the json.

[2018-12-09 19:04] NourSammour commented on #135
@shaklinThrill I've the same issue, did you solve it?

[2018-12-18 19:11] ashkank83 commented on #116
Hi, Any plans to merge this fix please? Thanks

[2018-12-19 09:43] c060604 commented on #135
I also have the same issue. I use version `2.5.1`.

### Arena Dashboard:
![image](https://user-images.githubusercontent.com/5510945/50212024-fe7b4980-03b4-11e9-9ec8-ebbff8359561.png)

### Redis keys:
![image](https://user-images.githubusercontent.com/5510945/50212081-1bb01800-03b5-11e9-9536-f79e6c1a422b.png)

### Arena config:
![image](https://user-images.githubusercontent.com/5510945/50212130-3d1

[2018-12-19 13:14] ttacon commented on #135
Hi folks!

@shaklinThrill and @NourSammour are you using bee-queue or bull-queue?

@c060604 are you sure that there are jobs actively in those states when viewing in arena? The Redis commands shows that the queues are there but we need to see if there are actively jobs inside them, too.

[2018-12-19 14:25] ttacon commented on #116
Hi! I'm not sure what fix you mean, @ashkank83 ? This is an issue - could you link me to the PR that you're referring to? Cheers!

[2018-12-19 14:32] ashkank83 commented on #116
@ttacon Thanks for the reply. I may be (probably am) mistaken but I see three commits by gcox linked to this issue and thought this the fix for the issue. Am I wrong?

[2018-12-19 15:51] ttacon commented on #116
Hi @ashkank83! Ah, this is GitHub's UI not being very clear. It looks like `gcox` pushed those commits up to their own branch, but unless I'm missing it, a PR hasn't been opened to this repo yet. More than happy to be pointed to the PR or to review a PR to this repo!

[2018-12-19 16:22] skeggse commented on #116
@ttacon https://github.com/bee-queue/arena/pull/126

[2018-12-19 21:08] ttacon commented on #116
Ah, thanks @skeggse ! I've added one comment on that PR, after that's addressed we'll merge and publish a new version.

[2018-12-20 03:34] c060604 commented on #135
@ttacon  how to check the jobs are actively or not?

### Redis jobs
![image](https://user-images.githubusercontent.com/5510945/50262157-b575d480-044a-11e9-90d2-e52bca60570c.png)

### Bee-queue code & output
![image](https://user-images.githubusercontent.com/5510945/50262184-d50cfd00-044a-11e9-9dec-658193f73e9d.png)

![image](https://user-images.githubusercontent.com/5510945/50262210-f0780800-044a-

[2018-12-20 06:36] c060604 commented on #135
@ttacon I see, I config a wrong queue name in the `index.json`. Thank you all the same.

[2018-12-20 15:00] shaklinThrill commented on #135
Still the same.

[2018-12-20 15:00] shaklinThrill commented on #135
Bull-Queue

[2018-12-20 16:49] #116 closed

[2018-12-20 16:54] ttacon commented on #116
`bull-arena@2.5.2` contains this fix.

[2018-12-20 17:00] ttacon commented on #135
@shaklinThrill we're currently using bee-queue so we don't have any easy way to repro this and don't have a ton of spare cycles at the moment. Having said that, what does [this line](https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/queueDetails.js#L16) output for you?

[2018-12-28 21:00] milesalex commented on #127
Same here! We generate queues for each type of job and new job types get added all the time

[2018-12-29 21:00] sido420 opened #141 "Detailed Logging Option"
Thanks for this useful module.

I'm using it as a Docker service. However, I wanted to know if there is a way to enable detailed logging like connection to Redis server failure or success (with err message).

Currently, whats happening is that I see the page with a my queue listed but upon clicking it the page keeps loading and nothing happens after that.

[2019-01-03 08:40] fatkhanfauzi opened #142 "Can we use this in koa JS 2 ?"
is there any posibility to include arena into koa js 2 ?
i'm using koa-router.

thanks

[2019-01-03 12:12] bhanuc commented on #135
Also check the prefix in the queues object.

[2019-01-03 15:42] fatkhanfauzi commented on #142
nvm, i can mount it to koa

[2019-01-03 15:42] #142 closed

[2019-01-04 19:45] bradvogel commented on #134
It's working correctly - retry a few jobs and watch the attempts count increase.

The reason it works is that "Retry" sends an HTTP PATCH request whereas "Remove" sends an HTTP POST request.

[2019-01-04 19:45] #134 closed

[2019-01-04 22:00] NourSammour commented on #135
I've solved it by using these versions, if i upgraded to last version it's not working
[code]

[2019-01-04 22:39] ttacon commented on #135
@NourSammour if you upgrade to the last version of which one (or is it both)?

[2019-01-04 23:59] NourSammour commented on #135
`"bull": "3.3.7"` is required to make `bull-arena` works

[2019-01-07 04:13] kirito1121 opened #143 "How can i use it with Adonis ?"

[2019-01-07 15:22] ttacon commented on #143
Hi @kirito1121 , I'm unfamiliar with the `Adonis` framework. Can you expand a bit more on your usecase?

[2019-01-07 15:23] #65 closed

[2019-01-08 14:51] ttacon commented on #43
Is everyone experiencing this using bull? @mrname which version of bull and arena are you using?

[2019-01-13 00:50] adamsoffer commented on #127
Same here. I create queues on the fly dynamically so I can account for them all when running Arena. @ttacon is it possible to show queues in arena as they are created?

[2019-01-16 17:42] andresgariglio commented on #93
I have an error when building the image:
`$ docker build -t bull-arena .`
[code]
Anyone having the same problem?

[2019-01-17 08:59] sebaplaza commented on #93
@andresgariglio i think that was only a temporary problem with alpine repos.

you can retry, the build is working for me :

[code]

[2019-01-17 12:40] andresgariglio commented on #93
@sebaplaza the error persists, thanks anyway

[2019-01-17 17:11] andresgariglio commented on #93
@sebaplaza That works ok, and you're right, I've just found it was a DNS problem. Now I'm able to build the image, thanks for the feedback.

[2019-01-19 11:21] flaviolivolsi opened #145 "Show timestamp + delay info"
Hi,

I'm not sure if I'm missing something or it's just not implemented, but for delayed jobs I can't seem to find the time of the actual execution of the job. Example: job is sent the 19th of January at 09:00am with a delay of 5 hours, but I can't see anywhere on the dashboard that the job will be executed the same day at 02:00pm.

I would be happy to shoot a PR for this, please just confirm that

[2019-01-23 22:17] milesalex commented on #101
Hey, still getting this issue, How can I help with reproing it:

https://d.pr/i/v0Awi3

[2019-01-31 13:20] anurag-rai opened #147 "Navbar toggle not working on small screeens (e.g. mobile devices)"
The main layout has a `navbar` which when the screen size is **small** condenses to a button on the top right corner of the screen. This button does not function when clicked.

[2019-01-31 13:20] anurag-rai commented on #147
Fixing this in #146

[2019-02-01 14:17] antonio0 opened #148 ""Internal Server Error" Data must be a string or a buffer"
There's on job in my queue that I suspect might be in a corrupted state or simply in a state that Arena is having trouble reading. In the UI we just get the message "Internal Server Error". I'm running version 2.5.2

[code]

[2019-02-01 14:41] ttacon commented on #148
That's no good - let's get to the bottom of this! First question, are you running bull or bee-queue (and which version of those are you running)?

[2019-02-01 14:50] antonio0 commented on #148
I'm running bull v3.4.3

[2019-02-01 16:51] skeggse commented on #148
May have been introduced by #126 cc @gcox

[2019-02-01 17:32] gcox commented on #148
I'm guessing the `id` is undefined somehow. That would have blown up the code prior to #126 as well, though we would have gotten a better error message.

Doesn't seem like there's a valid reason for `id` not to be a string by the time we're passing it to the `hashId` helper. Is there?

[2019-02-01 20:19] bazquezero opened #149 "Security vulnerability linked to handlebars-helpers"
Hi,

A security vulnerability was found in [epeli/underscore.string](https://github.com/epeli/underscore.string/issues/515)

A vulnerable version of **underscore.string** is present in the dependency tree of bull-arena via **handlebars-helpers**

`bull-arena > handlebars-helpers > helper-md > remarkable > argparse > underscore.string`

This was fix patched on version [3.3.5](https://github.com/epe

[2019-02-01 20:45] skeggse commented on #149
How can this vulnerability be exploited by a user of arena? I'm guessing `remarkable` requires `argparse` for a utility bin that we never actually interact with, which would make this not a vulnerability but still a concern because it would prompt security tools to flag the package.

[2019-02-12 12:02] adjenks opened #150 "Repeatable jobs in bull cause crash."
I'm not sure why this ticket was closed: https://github.com/bee-queue/arena/issues/43
It seems to still be an issue.
I created one repeatable job as a 'hello world' and it crashed with the same error
`TypeError: Cannot read property 'name' of undefined`

[2019-02-12 17:18] dhans commented on #149
Snyk is also flagging old versions of autolinker and braces, both dependencies of the old handlebars-helpers version. Does upgrading to latest version of handlebars-helpers break things?

[2019-02-14 21:55] skeggse commented on #149
Fixed in #151.

[2019-02-14 21:55] #149 closed

[2019-02-22 12:41] antonio0 commented on #148
What's the easiest way to debug this? I would like to see the full payload of the job causing the issue. Is there a debug mode?

[2019-02-25 14:40] lehno opened #152 "Unable to install bull-arena in another app"
Using the latest version of npm (6.8.0) it does not install the dependency highlight.js and it fails the npm install.

npm ERR! enoent ENOENT: no such file or directory, chmod 'app\node_modules\highlight.js\tools\build.js'

[2019-02-25 14:45] lehno commented on #152
Here is the issue:
https://github.com/highlightjs/highlight.js/issues/1984

[2019-02-25 14:58] lehno commented on #152
Problem is with a dependency, someone pushed bugs to production

[2019-02-25 14:58] #152 closed

[2019-02-26 05:29] png262 opened #154 "2.6.0 breaks with missing files"
just upgraded to arena 2.6.0, and my app breaks:
Error: ENOENT: no such file or directory, open '/Users/xxxxx/Projects/xxxxxxxx/node_modules/bull-arena/public/vendor/tablesort.min.js'

reverted back to 2.5.4 and it works again.

[2019-02-26 07:23] engvik commented on #154
I'm not able to install `2.6.0`:

Node: `v10.15.1`
NPM: `6.4.1`

[code]

`2.5.4` works fine for me as well.

[2019-02-26 08:26] Dids commented on #154
[code]

[2019-02-26 10:57] iredjee commented on #154
`public/vendor` directory is missing from NPM registry

[2019-02-26 11:05] lehno commented on #154
My build is broken, need to comment bull arena for now to get things working. Any update on this? Also I'm very interested in contribute with this project. Will send some pull requests soon

[2019-02-26 17:49] antonio0 commented on #148
I've put a console.log to print the "jobs" array right before the render method for that, and it showed that one of the items in the array was null.
Like
[code]

not sure if this is a problem on the Bull side or Arena

[2019-02-27 00:01] rpavez commented on #154
Me and @pbassut having same issue

[2019-02-27 01:53] hujung commented on #154
https://github.com/tristen/tablesort you can copy tablesort.min.js under public/vendor and copy img folder too from the master branch.

[2019-02-27 02:28] ttacon commented on #154
Apologies for this! I've released v2.6.1 to fix this (see #155).

[2019-02-27 02:28] #154 closed

[2019-02-27 02:29] ttacon opened #156 "Move asset files to npm install hook"
Instead of committing the current assets, we should pull them down on package install. See #153 and #155 for context.

[2019-03-04 21:40] dhritzkiv commented on #101
I am also still experiencing this issue, however, only on Active Jobs. Is it because they have a lock that they are non-removable?

[2019-03-07 19:28] maikelmclauflin opened #158 "vulnerable packages"
tried installing and ran into vunlerabilities

`node -v` yields `v11.10.1`
`npm -v` yields `6.8.0`

[code]

[2019-03-07 20:09] maikelmclauflin opened #159 "unable to connect to redis in docker"
https://stackoverflow.com/questions/55051957/unable-to-connect-queue-to-docker-container

i'm probably just doing it wrong, but the docs are a bit sketch on this, and i have tried everything that i can think of

[2019-03-07 21:03] maikelmclauflin commented on #159
may just need an update to docker hub since pulled version is different from locally built

[2019-03-14 16:45] mbavio commented on #93
What's the latest word on an official image on Docker Hub?

[2019-03-22 14:21] toverux opened #160 "TypeScript definition"
Hello,

I rapidly wrote a small .d.ts file for Arena in order to be able to use it in my TypeScript project. I lack time to propose a PR or post it on DefinitelyTyped, so I'll just paste it here if that helps other people:

[code]

[2019-03-22 14:21] #160 closed

[2019-03-25 12:08] sibelius commented on #142
do you have an example of this?

[2019-03-26 12:24] sibelius opened #161 "add docs about using it with koa"

[2019-03-26 15:14] benjamine commented on #158
+1, some of this only require path version upgrades so should be doable without problems

[2019-03-26 15:21] maikelmclauflin commented on #158
would you guys also mind uploading to docker hub? i had to create my own image as the one currently on there does not work

[2019-04-03 08:19] Diluka opened #162 "Can't be access if not deploy app on root"
`basePath: '/arena'`
`app.use('/',arena)`
app deployed at example.com/app
arena external path: example.com/app/arena/

[2019-04-03 09:13] hados99 opened #163 "how to set listenOpts when Running Server"
Thanks for really nice tool :)

I need to run arena without cdn support - useCdn: false.
And I want to run arena standalone server, not node module.

Is there any way to provide useCdn parameter when running server?
I could not find clues, because run() at index.js does not have parameters.

https://github.com/bee-queue/arena/blob/ae39d9051e87f5f0f120db24dc649c98129a9f1e/index.js#L27

how about th

[2019-04-04 09:54] ArnaudValensi opened #165 "Bull readme examples uses spaces in queue names, but arena do not work with spaces"
I've just setup Bull/Arena combo and I scratched my head to understand why it was not working. If you follow the Bull readme examples, it will not work with Arena since they use spaces in queue names. It would be nice to either make arena work with space or add a warning in the readme.

[2019-04-05 17:50] joaomilho commented on #135
Why isn't the precise version not set as a peer dependency then? Would help.

[2019-04-05 20:21] Vinhal commented on #150
If you are using docker image, the released version on mixmaxhq directory is old . Try this one https://hub.docker.com/r/odlevakp/arena

[2019-04-08 13:20] marcbachmann commented on #90
https://github.com/bee-queue/arena/pull/91 👏

[2019-04-08 13:20] #90 closed

[2019-04-11 14:02] JensVanhooydonck commented on #145
I was thinking the same thing. Can't find it either.

[2019-04-11 16:53] flaviolivolsi commented on #145
@JensVanhooydonck ok, so I have at lease you confirming I'm not blind :) I'll probably submit a PR whenever I can.

[2019-04-11 16:53] flaviolivolsi commented on #145
@JensVanhooydonck ok, so I have at lease you confirming I'm not blind :) I'll probably submit a PR whenever I can.

[2019-04-12 06:18] JensVanhooydonck commented on #145
I already submitted a PR. you could check this if you like? I only tested it with Bull, i don't know if u use bee-queue ?

[2019-04-12 08:10] adjenks commented on #150
@Vinhal Why is this version not in the README?

[2019-04-16 07:28] botzill commented on #93
Hi, seems that it's still old version on docker hub, any updates?

[2019-04-23 13:44] hraban commented on #53
Great feature, very happy to see it hit main.

Please could we also add a feature to just enter raw HTML? The current editor is very limiting: no copy paste, unintuitive icons without labels, unintuitive interface, many clicks to create simple jobs, etc...

No doubt it's useful in a streamlined workflow, but if you just want to add a quick job, this interface can be confusing and time consuming.

[2019-04-24 19:31] bellatrix1001 commented on #148
Same issue. I tried deleted a stuck job that won't go away from the "Active" tab by manually running:
`127.0.0.1:6379: del bull:file:123456`
Now the /file/active end point will not load at all:
Internal Server Error
In the logs, the error is `TypeError: Data mus be a string or a buffer`

[2019-04-30 11:30] sashamitrovich opened #167 "Redis configuration sample index.js"
I'm too stupid, can you please provide a Redis-configured sample index.json? Thanks.

[2019-04-30 11:46] sashamitrovich commented on #135
Same issue here - using Bull, dashboard not updating.

[2019-05-02 03:41] tjmabey commented on #167
this is what I have working for me right now.

[code]
note that `name` needs to match the name you pass in when you initiate your queue.

also the full readme example for the `url` is
`"[redis:]//[[user][:password@]][host][:port][/db-number][?db=db-number[&password=bar[&option=value]]]"`

I didn't need the db or password or option stuff but you may depending on your redis configuration.

[2019-05-06 17:33] Frozenfire92 commented on #158
Any update?

[2019-05-06 21:15] sibelius commented on #53
any progress on this?

[2019-05-11 20:25] maikelmclauflin commented on #158
I haven't heard anything. i uploaded their recent one here: mmclau14/arena:latest

[2019-05-13 10:02] jesperp opened #170 "Feature request: Support for named process when adding jobs"
The "Add job" feature is great but currently doesn't support adding a job to a specific named process in a queue. Not sure how the UI should be for this, maybe a simple optional input field for the named process name?

[2019-05-20 09:50] phryneas opened #171 "Docker image on docker hub really outdated"
Hi there!

The docker image on https://hub.docker.com/r/mixmaxhq/arena/tags still points to v2.0.2, which is missing a bug fix and crashes for me on every finished bull job.

Could you please push an updated versions?

Thanks a lot :)

[2019-05-20 22:33] focux commented on #171
I was about to open an issue about this, cc: @ttacon

[2019-05-22 19:58] skeggse commented on #171
I've got the image built - still working on getting it uploaded.

[2019-05-22 20:00] skeggse commented on #159
Closing in favor of #171 - please re-open if there's still an issue. Happy to field a PR to improve docs.

[2019-05-22 20:00] #159 closed

[2019-05-22 20:03] skeggse commented on #58
in some ways I'd be in favor of sticking with a statically-rendered site - there aren't any data inconsistencies to worry about as a user of the interface, and you can thus trust that the state of the page you're looking at is correct if/when it loads.

[2019-05-22 20:05] skeggse commented on #61
I think we're getting into websocket/long-poll territory. While this would be super neat, I think the actual functionality should be out of scope for arena. I think it would, however, be reasonable to make arena extensible such that a separate plugin could add realtime updates, though that may be venturing into a separate space where the UI is client-rendered, per #58.

[2019-05-22 20:06] skeggse commented on #128
This was released in #153 (2.6.0).

[2019-05-22 20:06] #128 closed

[2019-05-22 20:08] skeggse commented on #163
This isn't currently supported, but would be a great addition! I'd prefer to see standard options using something like `yargs` - feel free to submit a PR!

[2019-05-22 20:09] skeggse commented on #161
PRs welcome!

[2019-05-22 20:12] skeggse commented on #158
See #171 for tracking updated docker images. Is the vulnerable packages issue still a problem? I see we have at least one PR that addresses part of the original concerns: #168. PR(s) for any remaining are welcome!

[2019-05-22 20:13] skeggse commented on #143
Closing due to inactivity. Please re-open if you have more details!

[2019-05-22 20:13] #143 closed

[2019-05-22 20:24] skeggse commented on #93
Closing in favor of #171. @tusbar what are the steps for setting up and image build on docker cloud?

[2019-05-22 20:24] #93 closed

[2019-05-22 20:30] skeggse commented on #171
Uploaded through 2.6.3. If you have thoughts on automating this process, please share - I can't guarantee that we'll stay up-to-date otherwise.

[2019-05-22 20:30] #171 closed

[2019-05-22 22:11] phryneas commented on #171
@skeggse you can just configure dockerhub to auto-build from a branch or tag on github:
https://docs.docker.com/docker-hub/builds/

[2019-05-22 22:11] phryneas commented on #171
Oh, and thank you! :)

[2019-05-23 08:34] sylvainlap commented on #170
+1

[2019-05-24 21:49] sibelius commented on #167
I think we can close this

[2019-05-24 23:26] skeggse commented on #167
That seems reasonable.

[2019-05-24 23:26] #167 closed

[2019-06-04 15:04] Kmaschta opened #174 "mixmaxhq/arena docker image `latest` tag out-to-date"
Hi here!

I saw the issue here #171 but the the latest tag has not been updated since two years.

![image](https://user-images.githubusercontent.com/1819833/58890028-27389680-86ea-11e9-9634-b9ac027f2dca.png)

In fact, when you pull the docker image with a version tag, it works just well, but when you set no tag docker get the `latest` tag and this one is clearly outdated.

[code]

When publishing

[2019-06-04 17:29] skeggse commented on #174
Done. Feel free to open a PR automating the process or adding documentation somewhere - we don't actually use the docker-hosted arena, and didn't add the dockerfile originally so while we'll do our best, I can't promise it'll stay up to date.

[2019-06-04 17:29] #174 closed

[2019-06-14 21:35] levibostian commented on #160
Thank you, @toverux! This has been very helpful!

For others who have found this issue:
* [I made a PR into DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36210). If it gets merged, you will be able to use typings for arena by simply installing `@types/bull-arena`.
* The typing definition above works for me, except I had to make 1 change:

Change:
[code]

to:

[code]

Bec

[2019-06-14 22:25] levibostian commented on #160
Update: Typescript typings are [now public](https://www.npmjs.com/package/@types/bull-arena) for all to use! 🎊

[code]

[2019-06-15 16:47] toverux commented on #160
Oh, I'm glad this had actually helped! I'll install that right away.

[2019-07-26 00:20] insanehong opened #178 "Wrong redis connection with redis cluster"
Hi
When setting up   custom configure for queue with redis cluster  of bull-arena as a node module, ioredis wrong connection for get dashboard data

[code]

But I have redis connection error.

[code]

so I started local redis.
dashboard not used cosutom queue configure for redis, that use only local redis

[code]

[2019-07-30 23:01] KitoPham commented on #95
I'm seeing this issue with Bull with jobs that were removed via redis' `maxmemory-policy`

[2019-07-30 23:40] KitoPham commented on #148
Receiving this issue as well, utilizing Redis max-memory policy results in the web ui spitting this error when navigating to page with a list that would contain a job that was evicted from Redis.

[2019-08-08 09:52] loris commented on #170
+1

[2019-08-09 01:41] insanehong commented on #178
I found support createClient option.

https://github.com/bee-queue/arena/blob/master/src/server/queue/index.js#L69

[2019-08-12 05:31] #178 closed

[2019-08-14 16:28] irzhywau commented on #148
same error on 2.6.3

[2019-08-15 14:36] TimonVS opened #180 "Nodemon as dev dependency"
Hi 👋, I was wondering why Nodemon is installed as a dependency rather than a dev dependency (https://github.com/bee-queue/arena/blob/master/package.json#L17). Installation time could be reduced significantly if it were to be listed as a dev dependency :)

[2019-08-18 13:39] DanielChuDC commented on #127
same here. Required to create queue dynamically. Any idea?

[2019-08-28 21:36] delmotte opened #181 "can't list failed jobs because of exception : The \"data\" argument must be one of type [...]"
[code]

Does someone know how to fix this ?
It's really annoying and blocking because I can't restart failed jobs through UI

[2019-08-30 13:11] ttacon commented on #181
Hi there! This looks like the `hashIdAttr` handlebars helper isn't super happy with what's being passed in, however, it's a bit interesting how it's being surfaced.

Can you provide the following information to help us debug:
 - Are you using Bull or Bee-queue?
 - Which version of the above?
 - Which version of Arena are you on?
 - Can you provide the structure of the job data that that jobs has (

[2019-08-31 08:31] delmotte commented on #181
Hello,

I'am using bull ^3.10.0 and bull-arena ^2.6.3, the job data is simple, a single string field uid.
After investigation, when I retrieve failed jobs, I got some that are equals to null.
So, obviously, when browsing failed jobs through arena, it crashes.

[2019-09-06 15:36] gete76 opened #182 "Cant get to the queue page with bull-arena"
Hi there,
I've setup bull-arena according to the docs but when I click on the queue name for queue details on the homepage at /arena, the request just hangs and then fails. I see it's hanging on the Queue.getJobCounts call.   Here's what the basic app setup looks like. Any help would be appreciated. Thanks!

       const Arena = require('bull-arena')
       const express = require('express')

[2019-09-09 21:31] theoephraim commented on #142
@fatkhanfauzi can you please show an example of what you did?

[2019-09-09 22:38] theoephraim commented on #161
Figured it out. What tripped me up was trying to use koa-router and my other middlewares.
You need to set up up the middleware that will pass control off to arena first so other middlewares don't get used as well.

[code]

[2019-09-09 22:40] theoephraim commented on #142
nvm - figured it out! Adding this here in case anyone else finds their way here...

What tripped me up was trying to use koa-router and my other middlewares.
You need to set up up the middleware that will pass control off to arena first so other middlewares don't get used as well.

[code]

[2019-09-17 07:34] fbukevin commented on #124
I encounter this error too.

[2019-09-17 12:55] fbukevin commented on #132
I still got this problem.

[2019-09-17 13:44] mshwery commented on #132
Yeah I think the original PR didn't fully address the issue, just pushed it deeper.

[2019-09-23 02:51] darbio commented on #182
Not sure if this is the problem, however you haven't specified the `password` property in `arena.queues[0].redis.password`.

I was having the same problem when this wasn't set - maybe try setting it to undefined? Alternatively, for localhost, you could try not setting `redis` at all it and it will default to `redis://:@127.0.0.1` (I don't use localhost so haven't tested this).

[2019-09-27 21:23] ric2z commented on #148
bump — seeing this issue as well

[2019-10-08 06:49] combizs commented on #182
@darbio, password may not necessarily need to be provided; default redis config has no password.

[2019-10-08 07:41] combizs commented on #182
@gete76, check your local redis configuration to see if:
- it requires a password
  - default setup does not have password
- the redis port number is correct
  - default port is 6376
- redis instance is running locally;
  - go to your redis directory; `redis-x.x.x`
  - run `src/redis-server` in your terminal

[2019-10-08 08:07] combizs commented on #165
What didn't work specifically?  I just created a Bull queue instance with a space in its queue name and was able to link to it with arena with a spaces in the name + hostId.

![image](https://user-images.githubusercontent.com/749396/66378073-97d91380-e967-11e9-8c9b-5ed8663cbba0.png)

[2019-10-08 09:53] darbio commented on #182
@combizs yeah I thought so too, but I had a similar issue when I didn’t set the password property. From memory, setting it to undefined solved the issue for me.

[2019-10-15 13:12] thanhquang1988 commented on #143
Did you find a solution to use arena with adonis?

[2019-10-15 21:04] chrisgo opened #190 "layout.hbs pulled in twice"
layout.hbs seems to be getting pulled in twice in the HTML output

<img width="803" alt="Screenshot 2019-10-15 14 02 45" src="https://user-images.githubusercontent.com/140798/66869622-a2da0800-ef54-11e9-8b1e-fc95e452d5b5.png">

[2019-10-16 18:35] brianschardt commented on #182
So what was the solution for this?

[2019-10-16 18:45] combizs commented on #182
@brianschardt, based on the latest version, it worked for me.  Just check the following:
https://github.com/bee-queue/arena/issues/182#issuecomment-539389709

[2019-10-25 11:58] ttacon commented on #190
Great catch - we'll look into cleaning this up.

[2019-10-25 11:59] ttacon commented on #182
Closing as @combizs has supplied a solution with debugging steps. Please let me know if you'd like this to be re-opened!

[2019-10-29 15:11] squallstar opened #192 "Add documentation about setting up as a middleware"
The first line of `README.md` mentions the interface can be set up as a middleware, however, the documentation doesn't mention how and what frameworks it supports (e.g. Express).

[2019-11-21 07:05] pluschnikow opened #195 "Missing url encode for the "add job" action"
PR: https://github.com/bee-queue/arena/pull/194

[2019-12-03 15:25] alubbe opened #199 "Support for Bull 4"
Hey everyone,

we're happy users of arena and would love to upgrade from bull 3 to bull 4 because it has much stronger guarantees around message delivery. I reached out to Manuel from taskforce.sh and he told me that
- it should not be very difficult to add support (for bull 4) since it provides a backwards compatibility class that implement most of the old API
- no more breaking changes (to bull

[2019-12-11 07:31] amrendra007 commented on #181
same issue with me also , While accessing, queue active or failed , i was getting something went wrong as response from arena with this error

[2019-12-19 08:55] richardbiddle commented on #181
same issue here.  bull "3.11.0"  "bull-arena": "2.6.4"

[2019-12-23 12:40] sudhagar10 commented on #182
I am facing this issue.

It works fine locally. But once I took things to staging, viewing Queue page always times out.

Below is the configuration code.
queues: [
      {
        // Name of the bull queue, this name must match up exactly with what you've defined in bull.
        name: config.worker.queues.default.name,

        // Hostname or queue prefix, you can put whatever you want.
        h

[2020-01-08 18:37] ccollie commented on #199
I'm working on another dashboard specifically for Bull 4. It's taking a bit longer than I expected because of expanded goals (realtime monitoring and alerting). I'm looking at about a month (early Feb) for an initial release.

[2020-01-16 15:44] ttacon commented on #199
Hi @alubbe , we don't have this on our immediate road-map, but we'd be happily accept PRs adding functionality for it!

[2020-01-17 04:32] Igor-Lopes opened #202 "[Maintainers] Why PR'S are not being merged ?"
Hi,

I've seen a lot of open PR's ready to be merged and released, but they're all idle, with no response. Many of them have very important fixes and features. I feel like the current project owners are too busy (I don't blame them).

Perhaps would be a good idea to make a call for new Maintainers ?

[2020-01-17 16:44] ttacon commented on #202
Hi @Igor-Lopes! Thanks for raising this question! The biggest item in my mind is that we no longer use bull queue at Mixmax, hence why this project is under the bee-queue project organization. It would help us speed up a lot in PR review if someone could contribute a good test harness for bull queue? Thoughts?

[2020-01-18 04:18] Igor-Lopes commented on #202
Thanks for you reply @ttacon  !

I think you could make a call for new Maintainers, by opening an issue and pinning it. Also, you could ask for suggestions for a new roadmap.

Since this project doesn't have any tests, I think the selected maintainers would review manually all PR's, while the tests specs could be added to the roadmap.

I volunteer to be part of it. I work for a company that uses *

[2020-01-30 17:46] Mariopdel94 commented on #131
Did you find a solution for this?

[2020-01-31 06:46] jpettit commented on #95
Any update on this?  Hitting this with Bull.  Similar callstack:

[code]

[2020-02-02 15:05] ttacon commented on #131
Hi @Steven086 or @Mariopdel94 could y'all provide a screenshot and the values that you'd like to see for comparison? Cheers!

[2020-02-07 20:07] kevzettler commented on #127
without even having dynamic queue creation its just a pain in the ass to configure and maintain the index.json. If developers add or remove queues to our application we need to manually update the index and restart arena.

there is this post from Mixmax:
https://engineering.mixmax.com/blog/bull-queue-aws-autodiscovery

in which they too feel this pain and have created a helper script to pull a lis

[2020-02-12 17:57] bogdan opened #203 "Ability to promote jobs from delayed"
Please add "Promote" button for delayed jobs:

![image](https://user-images.githubusercontent.com/122436/74362653-b9dd1980-4dd1-11ea-8f87-4065bc81c7f0.png)

[2020-02-18 20:55] xyker opened #204 "All logs show up as undefined after a failed job"
bull-arena 2.7.1

It looks like every time I encounter a failed job, all of the logs associated with my new and existing jobs shows up as undefined.  I am able to successfully perform a .getJobLogs() on all jobs to get the logs outside of the UI.  Logs show up successfully as long as all the jobs in my queue have succeeded.  As I am in still in the development phase, I resolve this by tearing down

[2020-02-26 15:44] bogdan opened #206 "Display stacktrace for delayed jobs"
Bull treats jobs that failed but are having more attempts to be made as delayed. In this case, it is good to display the stacktrace of those.

I would remove the check for failed status when displaying stacktraces: if job has stacktraces - lets just dispay it anyway.

https://github.com/bee-queue/arena/blob/master/src/server/views/partials/dashboard/jobDetails.hbs#L76

[2020-03-03 06:50] moltar opened #207 "An example of using dynamic queue discovery"
https://gist.github.com/moltar/4582e74fe4b03fb3158a23f13c1f1a06

[2020-03-07 20:56] atwright147 commented on #167
@tjmabey I could not get this to work -- thank you for the hint

The docs for this config are pretty terrible

[2020-03-11 14:00] rootux commented on #53
Yes please

[2020-03-11 14:26] krazyjakee commented on #53
Very sorry to all but others are welcome to fork my fork, rebase from upstream and create a new PR.

Sorry to have kept it open so long.

[2020-03-11 14:26] #53 closed

[2020-03-11 16:21] hraban opened #208 "Ability to add raw json jobs"
Please could we also add a feature to just enter raw HTML? The current editor is very limiting: no copy paste, unintuitive icons without labels, unintuitive interface, many clicks to create simple jobs, etc...

No doubt it's useful in a streamlined workflow, but if you just want to add a quick job, this interface can be confusing and time consuming.

A little toggle to go from:

![current](https:/

[2020-03-11 16:21] hraban commented on #53
issue copied to #203

[2020-03-17 18:46] george-norris-salesforce commented on #182
Same issue, I can get the index page working. When I click on a link, it never resolves.
[code]

[2020-04-05 10:46] axos88 opened #212 "Ability to see cron schedule for delayed jobs"
Hi,
When I open the delayed jobs view, and open one of the jobs there, I would like to see when the job is scheduled to run at (not only when the job was queued) and the cron schedule if applicable, without having to click on the "JSON" button that disrupts my workflow.

Thanks

[2020-04-05 10:47] axos88 commented on #212
Possibly in a similar view as for the DATA and the LOGS sections?

[2020-04-17 02:52] rushilsrivastava commented on #182
This issue definitely still exists, facing the exact same problem as the people above

[2020-04-17 02:55] yan-michael commented on #182
I am also having this problem.

[2020-04-29 07:49] robertour opened #216 "Arena is not updating"
Basically I don't see the numbers moving on the GUI, although when I started the first time a few numbers were displayed, they are frozen and no longer updates:

![image](https://user-images.githubusercontent.com/1033512/80572317-5d67be80-89fe-11ea-95c5-ec227be594f1.png)

Here is my Bee Queue configuration:
[code]

And my index.json configuration:
[code]

Is it maybe because I don't keep the jobs

[2020-04-30 04:13] tevaum commented on #203
I'm thinking about implementing this, but I'm not sure how to do this for bee queues. Any clue?

[2020-04-30 10:59] bogdan commented on #203
No, idea, however I think if the feature is only available for bull, let it be only for bull.

[2020-04-30 22:14] tevaum commented on #203
Yeah. Looks like bee doesn't support promoting jobs. There's also a PR for this: https://github.com/bee-queue/arena/pull/177#issuecomment-622124142

If the author of that PR doesn't answer I'll try to solve the issues so that it can be merged.

[2020-05-08 08:28] Rua-Yuki opened #218 "Queue details view shows stale Redis statistics"
**Node version:** 10.19.0
**Arena version:** 2.8.1
**Bull version:** 3.13.0
**ioredis version**: 4.16.3

---

The [queue details view](https://github.com/bee-queue/arena/blob/744120be371291c8ca781930c3096117238f159f/src/server/views/dashboard/queueDetails.js) appears to present stale data within the ["Redis Statistics" table](https://github.com/bee-queue/arena/blob/744120be371291c8ca781930c3096117

[2020-05-13 03:02] Rua-Yuki commented on #218
It may be worth noting that this reliance on the queue's `client.serverInfo` field being updated after an `INFO` query was broken beginning with Bull [2.0.0](https://github.com/OptimalBits/bull/blob/develop/CHANGELOG.md#v200), as a result of this version switching to `ioredis` from `node-redis`.

The expected behaviour is still demonstrated by `node-redis`.

[2020-05-13 03:30] meotimdihia opened #220 "Improve performance for bull queue when used as remote monitor"
I tried to monitor remote Redis-server
I can't load the page if the queue number is more than 1000. I checked and saw `arena` was stopped in these lines:

https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/queueJobsByState.js#L106-L110
https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/queueJobsByState.js#L99-L103

And everything is fine if I use https

[2020-05-16 03:13] srako commented on #101
I am also still experiencing this issue,
[code]

[code]
network pending
I am running this as as a node_module in an egg middleware.

[2020-05-16 03:36] srako opened #221 "Create and Bulk remove is not working"
I am also still experiencing this issue,
[code]

[code]
network pending
I am running this as as a node_module in an egg middleware.

_Originally posted by @srako in https://github.com/bee-queue/arena/issues/101#issuecomment-629579946_

[2020-05-21 21:34] xelzi opened #222 "Unexpected behavior with manual retries from Delayed Queue"
I am having issues when I try to manually retry a job in the Delayed Queue using `Trigger`.

Instead of this job retrying -- a new job is being created. This new job also nests the original parameters in a way that guarantees the retry will fail 😅

## The Original Job -- has an id of 35:
![Screen Shot 2020-05-21 at 5 27 26 PM](https://user-images.githubusercontent.com/14365312/82608384-92dc7380-9b

[2020-05-22 20:04] theoephraim commented on #222
I noticed this nested parameter issue happening as well with re-triggering a successful job.
I would have expected a new job to be created with the same payload, not with all the job metadata nested under data.

[2020-06-04 19:13] roychri commented on #222
I made a PR to fix this issue.

[2020-07-07 14:11] tevaum commented on #23
Any news on this issue?

[2020-07-09 15:14] rrdlpl commented on #182
me too

[2020-07-13 12:10] Rocamonde commented on #182
I happen to have this problem too. This is my configuration:

[code]

The `/arena` route loads, but when I click on any of the routes, the request is never resolved. I tried using `url` and `path` as the name of the Redis address parameter. My variable is correct as is the one I use to load Bull in another part of the App, and Bull is working perfectly.

Any thoughts of what I might be doing wrong

[2020-07-20 20:53] yaboi commented on #23
ping

[2020-07-24 19:50] max10rogerio opened #225 "[Help] Trying use as a node module"
I'm trying add arena in a specific route on express, but I have this errors:

[code]

My code:
[code]

[2020-07-28 12:33] aarsla commented on #93
Official auto-built image would really be appreciated.

[2020-07-30 15:54] connorskees opened #226 "Remove dependency on `handlebars-helpers`"
Hello,

I am wondering if it would be possible for `arena` to drop its dependency on `handlebars-helpers`. This single dependency is responsible for *177* transitive dependencies -- you can see a particularly striking visualization of this at https://npm.anvaka.com/#!/view/2d/handlebars-helpers.

As far as I can tell, this project does not non-trivially rely on `handlebars-helpers` for any functio

[2020-07-30 16:51] bpehling opened #228 "Bump nodemon version to fix vulnerability"
[code]

Latest nodemon `v2.0.4` contains the patched version of dot-prop

[2020-07-30 17:39] softmantk commented on #222
This is really critical bug! Can someone merge this ?

[2020-07-30 19:14] #180 closed

[2020-07-30 19:15] #228 closed

[2020-07-30 19:17] #222 closed

[2020-07-30 19:21] skeggse commented on #204
Per @Subv, this maybe be due to the following bug: https://github.com/bee-queue/arena/pull/201#discussion_r402016082

[2020-07-30 19:24] #195 closed

[2020-08-02 13:04] jaschaio opened #229 "Cannot read property 'id' of null"
In theory it works well. But when I am trying to display the detailed view of failed jobs I am getting a lot of the Following Error within the logs:

[code]

The page just never finishes loading.

Not sure why, maybe my jobs are missing a required attribute or something?

Using with `bullmq@1.8.13` and `bull-arena@2.8.1`

[2020-08-02 14:34] jaschaio commented on #229
Ok, after a bit of investigation this seems to be more likely a problem with `bullmq`. Will close for now

[2020-08-02 14:34] #229 closed

[2020-08-04 15:16] bpehling commented on #228
@skeggse Any idea when a new version will be released to include the fix? We are blocked from using this and have ripped it out in the meantime

[2020-08-04 16:46] skeggse commented on #228
Released in v2.8.2.

[2020-08-04 16:47] skeggse commented on #180
Released in v2.8.2.

[2020-08-04 16:50] skeggse commented on #195
Released in v2.8.2.

[2020-08-04 16:50] skeggse commented on #222
Released in v2.8.2.

[2020-08-04 18:32] #158 closed

[2020-08-04 18:36] #50 closed

[2020-08-04 18:38] skeggse commented on #23
While I understand that this ticket has a lot of interest, please refrain from simply bumping - it's not a priority for us, and we don't really have resources to fully support this project. I'm locking and restricting to collaborators. The best way to get progress on this ticket would be to submit a pull request! Linked it to this ticket :)

[2020-08-04 18:39] skeggse commented on #52
This sounds like #23. If there's a difference, please feel free to re-open.

[2020-08-04 18:39] #52 closed

[2020-08-04 18:40] skeggse commented on #54
This is tracked in other tickets (i.e. #27), closing.

[2020-08-04 18:40] #54 closed

[2020-08-04 18:44] skeggse commented on #95
@jpettit that looks more like #148 - does that sound right?

[2020-08-04 18:45] #117 closed

[2020-08-04 18:46] #118 closed

[2020-08-04 21:09] jpettit commented on #95
@skeggse Are you asking me if I remember something from 7m ago? 🤣

IIRC I looked at the code then and there was something fishy going on related to this issue.  You'll see I posted Jan 30th, 2020, and #148 was posted Feb 1, 2019.  The issue is the same as #148 certainly, but might have been caused by this issue.  I don't know.

But, when we're talking a turnaround time of nearly two years to triag

[2020-08-04 21:32] skeggse commented on #95
Yeah, we don't really have this project resourced :(

[2020-08-04 21:35] apmcodes opened #231 "Content Security Policy directive violation"
After upgrading from 2.8.1 > 2.8.2 unable to expand Job detail. In chome console getting the following error

[code]

[2020-08-04 21:40] apmcodes commented on #231
Error was due to helmet upgrade from 3.x.x to 4.x.x

[2020-08-04 21:40] #231 closed

[2020-08-04 22:07] github-actions[bot] opened #232 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-04 22:30] skeggse commented on #232
Blocked on npm allowing me to actually add maintainers to the package lol

[2020-08-05 00:53] beequeueci commented on #232
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-05 17:33] #208 closed

[2020-08-05 17:36] skeggse commented on #208
Landed in v3.1.0.

[2020-08-05 18:06] #170 closed

[2020-08-05 18:40] skeggse commented on #170
Released in v3.2.0.

[2020-08-05 18:42] skeggse commented on #181
It seems like a data error to have `id` fields that are `null`, but it also seems reasonable to still have arena show that.

[2020-08-05 18:57] #181 closed

[2020-08-05 19:04] skeggse commented on #216
I can't make much out of your example - it looks reasonable to me, but it's not complete without the rest of the files. Can you post a [reprex](https://stackoverflow.com/help/minimal-reproducible-example)?

That's entirely likely, yeah. To be clear, we don't live-update the dashboard - it doesn't change when you reload?

See [SELECT](https://redis.io/commands/select).

`arena` just reports the siz

[2020-08-05 21:31] apmcodes opened #233 "v3.0.0 how to provide queue constructor"
Not able to find any doc on how to add queue constructor. Can someone provide an example?

[2020-08-05 21:55] skeggse commented on #233
That's [this part](https://github.com/bee-queue/arena#usage) of the README:

[code]

It sounds like the readme isn't clear about this - how might we improve it to help with adoption and comprehension?

[2020-08-05 22:36] dhritzkiv opened #234 "Named jobs are triggered with __default__ name"
v2.8.2 (I haven't upgraded to 3.0+, yet) broke how "triggering" named jobs were saved: the `name` is ignore and the `__default__` one is used.

v2.8.1 and below worked fine.

[2020-08-05 22:44] skeggse commented on #234
I'm not sure I follow - what do you mean by this?

I don't see any functional changes that would have impacted this in the 2.8.2 release.

[2020-08-05 22:59] dhritzkiv commented on #234
<img width="1054" alt="image" src="https://user-images.githubusercontent.com/1349865/89471938-54009780-d74d-11ea-9b2c-e059f3117a75.png">

In the delayed jobs queue, pressing "Trigger" saves a new job, but strips off the name (I redacted it - Sorry!). I imagine this also happens in Failed Jobs.

Could it have been introduced in #223? Where before passing the `job` (and not `job.data`) saved the ent

[2020-08-05 23:01] skeggse commented on #234
Thanks for the additional explanation - I'm not very familiar with bull or how arena supports it (who put me in charge lol)

I think this is probably related to needing to pass in the `name` to `Queues.set` as the third parameter.

[2020-08-05 23:06] dhritzkiv commented on #234
(Btw - I added some screenshots and the JSON of the job to my comment above for each version.)

No worries! I was able to rollback to the previous version just fine.

And yes, it sounds like that's what'is missing from the code.

[2020-08-05 23:22] beequeueci commented on #195
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v2.8.2)
- [npm package (@release-2.x dist-tag)](https://www.npmjs.com/package/bull-arena/v/2.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-05 23:22] beequeueci commented on #228
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v2.8.2)
- [npm package (@release-2.x dist-tag)](https://www.npmjs.com/package/bull-arena/v/2.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-05 23:23] #232 closed

[2020-08-06 02:41] #234 closed

[2020-08-06 02:42] beequeueci commented on #234
:tada: This issue has been resolved in version 2.8.3 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v2.8.3)
- [npm package (@release-2.x dist-tag)](https://www.npmjs.com/package/bull-arena/v/2.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-06 04:07] beequeueci commented on #234
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.2.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-06 06:11] robertour commented on #216
Thanks, I am monitoring this differently now, `removeOnSuccess` and `removeOnFailure` seems to be the source of my problem, and I do need them there.

[2020-08-06 06:11] #216 closed

[2020-08-06 17:26] skeggse commented on #135
Hey folks! Is this still a problem? We'd like to work on getting it fixed if so, and you could help us understand the problem by posting a [reprex](https://stackoverflow.com/help/minimal-reproducible-example) - something self-contained that we can use to dig in.

[2020-08-06 17:40] skeggse commented on #150
Thanks for the report. If this is still a problem, you could help us understand the problem by posting a [reprex](https://stackoverflow.com/help/minimal-reproducible-example) - something self-contained that we can use to dig in. Otherwise, we don't have much to go on.

I tried using bull and creating a simple repeatable job, and didn't see any errors in arena when viewing the job.

[code]

[2020-08-06 17:40] #150 closed

[2020-08-06 17:41] skeggse commented on #124
Happy to help with this if you can provide repro steps!

[2020-08-06 17:41] #124 closed

[2020-08-06 18:00] #165 closed

[2020-08-06 18:02] skeggse commented on #73
This probably isn't a concern for you any longer. If it is, feel free to re-open; a [reprex](https://stackoverflow.com/help/minimal-reproducible-example) would go a long way to resolving this!

[2020-08-06 18:02] #73 closed

[2020-08-06 18:06] skeggse commented on #182
This sounds like it's related to these: #123 #162 #164, given that all the configs we've seen are using a specific subpath. If anyone has an example that doesn't use a `basePath`, please feel free to re-open!

[2020-08-06 18:06] #182 closed

[2020-08-06 20:18] adjenks commented on #150
@skeggse Yes, it's probably fine now. I was using the mixmaxhq/arena docker image posted in the README and it was out of date at the time. It's probably working now, considering it says it was updated 20 hours ago and I made this a year ago. Thank you for checking.

[2020-08-06 20:18] adjenks commented on #150
I never did use the docker image that Vinhal posted because it wasn't recommended by the README here so I didn't trust it.

[2020-08-07 19:00] dhritzkiv commented on #233
Keeping the [DefinitelyTyped TS definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/bull-arena/index.d.ts) up to date would also help with adoption

[2020-08-07 20:35] skeggse commented on #233
Today I learned there are external TS definitions for this project.

[2020-08-07 21:25] skeggse commented on #233
What's the current standard around shipping an `index.d.ts` file with the project itself vs putting it in `DefinitelyTyped`? I could add it here, but then maybe I'd need to pull in `@types/express` and `@types/redis` - I assume I'd need to ship those - and maybe also pull in `bee-queue` and `bull` for those typescript users who want the types to work. Maybe that's a reason to use `DefinitelyTyped`

[2020-08-07 21:45] dhritzkiv commented on #233
Generally, if the underlying project is Typescript, and types are automatically generated, then you include it with the repo + release.

But if it's adding types after the fact, DefinitelyTyped is probably the way to go, especially since additions to the DefinitelyTyped repo are relatively quickly reviewed + published, so if the original repo becomes unmaintained, types can still be fixed up + pub

[2020-08-08 02:09] chaffeqa commented on #233
Yeah honestly this is blocking us from adopting v3... we heavily use TS and its gonna break a ton changing to the v3 version

[2020-08-08 04:42] skeggse commented on #233
Alright well I really don't know anything about typescript but here's my attempt to update: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46626

[2020-08-17 00:22] innomatics opened #239 "Show active job count in overview screen"
Thanks for the great work maintaining this project!

I would love to configure the overview screen to show e.g. the number of active jobs, or failed jobs in the overview screen.

We have large numbers of jobs and currently clicking through to find active job counts when trouble shooting is tiresome.

Is this possible now? Other a feature request.

[2020-09-01 23:31] marcodali opened #240 "Order Jobs by id ASC/DESC"
<img width="1413" alt="Screen Shot 2020-09-01 at 18 26 34" src="https://user-images.githubusercontent.com/70110654/91915833-2beb5200-ec81-11ea-965d-19a91447ec0d.png">

Can you please add the ability to order these job ids by ASC / DESC per page?
Thanks!

[2020-09-04 13:37] kikar opened #241 "Job name is taked from inside job data"
Hi, I have a queue where the data contains a name property, and that name is used in the job list instead of the job name.

Is there a reason for this?

You can see it happening [here](https://github.com/bee-queue/arena/blob/master/src/server/views/dashboard/templates/queueJobsByState.hbs#L99)

[2020-09-18 12:06] p3x-robot opened #246 "dark mode is gonna happen?"
just simple question.

[2020-09-21 10:05] eeVoskos commented on #241
This behaviour is intentional, and was added in https://github.com/bee-queue/arena/pull/74.

Do you have a better suggestion that covers this use case?

[2020-09-21 10:17] kikar commented on #241
The behaviour is not documented, so now I have all funky names in the list, rather than just using the Bull name. This prevents people to use the `name` key in the job's data.

Bull has a job name already, why do you need to fetch it from the job?

[2020-09-21 11:06] eeVoskos commented on #241
Well, I believe this dates back to the time that bull didn't have a job `name` property, and we had to add one in the job's `data`.

Perhaps, a more appropriate change would be to give priority to using `job.name` in the UI, and only use `job.data.name` if the former is `undefined`.

So, try to replace this:

[code]

with this:

[code]

*Disclaimer:* I haven't tested the above code change, it's ju

[2020-09-21 11:26] kikar commented on #241
Thank you for the suggestion. I've updated the PR: https://github.com/bee-queue/arena/pull/242

[2020-10-01 06:55] gtpan77 commented on #233
This issue is fixed. @skeggse close this issue.
[DefinitelyTyped/pull/48242](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48242)

[2020-10-01 07:00] #233 closed

[2020-10-01 07:00] skeggse commented on #233
Thank you!

[2020-10-03 16:50] mayuuh opened #247 "How can I view all queue on dashboard ?"
Is there any way I can view all queue created in redis?

And info about those all queues.

[2020-10-05 07:52] eeVoskos commented on #241
So, I just checked this issue and PR. I have two comments:

1. Yes, Bull has an optional `name` field in `queue.add(name?: string, data: object, opts?: JobOpts)`. However, this actually refers to the job *type* (see docs [here](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd)), meaning that the core purpose of the `name` arg is the use of named processors (see doc [here](htt

[2020-10-05 09:25] kikar commented on #241
That's a great solution!
I'm going to update my PR, but could you give me a hand updating the README and the CHANGELOG @eeVoskos ?

[2020-10-05 12:09] eeVoskos commented on #241
Well, both the README and the CHANGELOG are files inside this repo, so, you could just edit them in the same PR, or perhaps ask one of the project maintainers - I'm not one of them, just an opinionated dev :-). I'd add something like this:

**README.md**

Add new section, after the [Custom configuration file](https://github.com/bee-queue/arena#custom-configuration-file) section.

[code]

**CHANGEL

[2020-10-06 10:20] ankitjena opened #248 "document bullmq support"
## Description
I was trying to use `bull-arena` for my project which uses `bullmq`. The project is written in typescript.
Here's what I am trying to do
[code]
Typescript throws an error saying
[code]
If i force the type to never, I can start the application but I get the following error when opening the arena ui.
[code]

## Question
- Does `bull-arena` support `bullmq` with `typescript`?
- If so,

[2020-10-10 02:41] CristianJDelRio commented on #204
Hey 👋 @skeggse Arena has been such a great tool for me and my teammates so I want to try help. May I?

[2020-10-15 01:28] skeggse commented on #247
It might depend on which queue library you're talking about; `bee-queue` does not support this functionality.

[2020-10-15 01:32] skeggse commented on #248
@gtpan77 do you have any ideas about this?

[2020-10-15 04:50] gtpan77 commented on #248
No, It doesn't support bullmq but we should support it soon bcoz `bullmq is next major version of Bull`.
@ankitjena It may work if you use `require` bullmq queue instead of `import`.

[2020-10-15 04:52] skeggse commented on #248
oh lol I didn't even notice that wasn't just bull

[2020-10-15 04:56] gtpan77 commented on #248
Assign this issue to me. I'll look into it.

[2020-10-15 11:16] #247 closed

[2020-10-19 16:53] skeggse commented on #246
not unless someone implements it

[2020-10-19 16:53] #246 closed

[2020-10-28 05:31] #206 closed

[2020-10-28 05:35] beequeueci commented on #206
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.3.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-28 05:44] skeggse commented on #241
I'd advise against updating the CHANGELOG file, as it's automatically generated/updated by our release tooling. Based on [conventionalcommits](https://www.conventionalcommits.org/en/v1.0.0/), you can add information to commits that'll be included in the changelog.

Perhaps another solution here, because there don't seem to be any standards around the naming of jobs in either queue library (certain

[2020-10-28 06:07] skeggse commented on #220
Feel free to submit a pull request to fix this!

[2020-10-28 06:08] skeggse commented on #239
I don't think it's currently possible. Performance is a likely consideration (#220).

[2020-10-28 06:13] skeggse commented on #57
This seems out of scope for this project. I recommend you configure the express application yourself and attach helmet to it prior to attaching arena. Feel free to argue otherwise!

[2020-10-28 06:13] #57 closed

[2020-10-28 06:28] #207 closed

[2020-10-28 06:30] skeggse commented on #221
Does this work in express instead of koa?

[2020-10-28 08:29] p3x-robot opened #265 "v3.3 latest version is not working"
![image](https://user-images.githubusercontent.com/28588124/97410868-de493980-18ff-11eb-837e-379f797ab0cc.png)

it looks like bootstrap css is missing:
https://cdn.jsdelivr.net/bootstrap/3.4.1/css/bootstrap.min.css

![image](https://user-images.githubusercontent.com/28588124/97410984-fcaf3500-18ff-11eb-94fa-6a0384d069d9.png)

[2020-10-28 11:17] VirtueMe commented on #265
Changing the url to `https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css` fixed the issue for me.

[2020-10-28 11:23] VirtueMe commented on #265
I changed it manually in `node_modules/bull-arena/src/server/views/layout.hbs` line 12 until there is a new release.

[2020-10-28 11:47] VirtueMe commented on #265
A better solution until this is fixed is to use `useCDN: false`.

[code]

[2020-10-28 16:05] #265 closed

[2020-10-28 16:08] beequeueci commented on #265
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.3.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-29 19:23] chrisgo commented on #190
Sorry for the bother, would you have any update on this or how I could kind of try to fix this ... been trying a couple of things with hbs (new layout, etc.) but can't figure it out.  Thank you

[2020-10-29 19:36] skeggse commented on #204
@xyker `bull-arena` v3.3.2 has been released, and may address this issue. Would you mind checking?

[2020-11-01 19:41] skeggse commented on #248
Support landed in #251 (with typescript support in DefinitelyTyped/DefinitelyTyped#48886). Thanks, @gtpan77!

Documentation still needed, though. I'm going to repurpose this issue to track that work. Take bullmq for a spin in v3.4.0 and let us know how it goes!

[2020-11-02 08:33] gtpan77 opened #274 "Could not add job using arena dashboard - ERR_ABORTED 404 bootstrap library"
Using bull queue here. I think this is not related to queue type, should be some frontend issue.
Getting this error on arena dashboard -
testQueue:150 `GET https://cdn.jsdelivr.net/g/jquery@3.5.1,bootstrap@3.3.7 404`
dashboard.js:1 `Uncaught ReferenceError: $ is not defined`

<img width="1279" alt="Screenshot 2020-11-02 at 1 58 21 PM" src="https://user-images.githubusercontent.com/16515783/9784608

[2020-11-02 16:13] skeggse commented on #274
What version of arena are you running? I believe this should be fixed in 3.3.3.

[2020-11-02 17:30] gtpan77 commented on #274
I was using 3.0.1. Yes, this is fixed already. Closing this issue.

[2020-11-02 17:30] #274 closed

[2020-11-16 10:51] JoJ123 opened #280 "How to use Arena with an AppGateway"
Hi,
we are using an AzureAppGateway for our WebApps.

WebApp1: (basePath: _/app-runer_)
https://test.my-domain.com/api/...

I tried the following:
`const arena = ...`
`{ disableListen: true, basePath: "/api" }`
`app.use('/bull-arena', arena);`

With this setting the Arena is not loading anymore at all under this url:
https://test.my-domain.com/api/bull-arena/

When I remove the base path from the

[2020-11-20 09:55] rootux opened #288 "Possibly issue with not loading jquery"
When running locally I see the UI but almost no button is clickable.

The console shows this error:
[code]

[2020-11-20 09:58] rootux commented on #288
It seems like when I try to open the file directly on jsdelivr it doesn't seem to exists -
[https://cdn.jsdelivr.net/g/jquery@3.5.1,bootstrap@3.3.7](https://cdn.jsdelivr.net/g/jquery@3.5.1,bootstrap@3.3.7)

[2020-11-20 10:00] rootux commented on #288
I do see that this works "https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" - could it be that something changed on jsdelivr?

[2020-11-20 10:06] rootux commented on #288
I was able to fix manually it by setting `useCdn` to `false`

[2020-11-20 10:55] jimaek commented on #288
/g/ is the legacy format that supports only old versions. It can't pull anything from npm.

This is the new format that works with npm https://cdn.jsdelivr.net/combine/npm/jquery@3.5.1,npm/bootstrap@3.3.7/dist/js/bootstrap.min.js

[2020-11-20 13:35] rootux commented on #288
Good catch.
So probably this should be fixed to the new format

[2020-11-20 16:53] skeggse commented on #288
Would you please confirm the version of arena you're running? I believe this isn't a problem on up-to-date arena.

[2020-11-20 18:15] rootux commented on #288
I'm using the latest version. I believe it's 3.4.0

On Fri, Nov 20, 2020, 18:53 Eli Skeggs <notifications@github.com> wrote:

[2020-11-20 18:26] skeggse commented on #288
I don't see how that's possible:
[code]

[2020-11-21 23:29] skeggse commented on #248
Documented in #273, thanks @gtpan77!

[2020-11-21 23:29] #248 closed

[2020-11-21 23:32] #241 closed

[2020-11-23 06:13] shiningstarts commented on #221
It happens in my project, but it works well when I use express.

[2020-11-24 20:57] bradvogel commented on #288
Note that there's little value in using jsdelivr (vs hosting and serving these libraries) now that Chrome no longer uses a shared cache https://developers.google.com/web/updates/2020/10/http-cache-partitioning

[2020-11-25 18:30] skeggse commented on #288
Oh dang. That's a big change. I get the rationale, but wow.

I haven't seen any evidence that this particular issue is valid, however - I believe this was fixed in a prior release.

[2020-11-25 18:30] #288 closed

[2020-11-25 18:35] skeggse commented on #204
Closing due to inactivity. If this is still valid, please reopen!

[2020-11-25 18:35] #204 closed

[2020-11-25 18:39] skeggse commented on #221
We don't officially support koa, and don't have the bandwidth to pursue it. If you find a valid issue when using arena with express, feel free to re-open! Otherwise, I'll consider this a duplicate of #161.

[2020-11-25 18:39] #221 closed

[2020-11-25 18:40] #135 closed

[2020-11-25 18:44] #61 closed

[2020-11-25 18:46] skeggse commented on #66
I think this is probably out of scope for arena. The underlying queue technologies would need to support this, and bee-queue doesn't. Maybe bull does? Doing this kind of operation safely (i.e. exactly-once semantics, avoiding duplicate processing etc) is tricky in the best of circumstances.

[2020-11-25 18:46] #66 closed

[2020-11-25 18:51] skeggse commented on #161
Related to #142.

[2020-11-25 18:55] #161 closed

[2020-11-25 21:53] HalfdanJ opened #293 "BullMQ example not working"
I'm trying to follow the new example from https://github.com/bee-queue/arena/pull/273 without luck in typescript.

I have bull-arena `3.6.0` and bullmq `1.11.0` and @types/bull-arena `3.0.2`

When using the code from the readme, I get the following error:

`TypeError: as of 3.0.0, bull-arena requires that the queue constructors be provided to Arena`

With the following code:

[code]

[2020-11-25 21:56] HalfdanJ commented on #293
Ah i'm realizing now that I need to add `type: 'bullmq'` to the queue. Should that be added to the example?

[2020-11-25 23:49] skeggse commented on #293
Yep, that seems likely to be the problem!

[2020-11-25 23:49] #293 closed

[2020-11-25 23:49] skeggse commented on #293
cc @gtpan77

[2020-11-26 10:38] gtpan77 commented on #293
Thanks @skeggse for updating docs.

[2020-11-26 16:12] matteomattei opened #295 "Crash after click on failed job"
I have a failed job, I click on it and I obtain the following error in the console:

[code]

[2020-11-26 16:20] skeggse commented on #295
This mostly sounds like a bug in `bull`. Probably something related to listing jobs that then get removed. Is this a consistent problem? What versions of the packages are you using?

[2020-11-26 16:28] matteomattei commented on #295
bull version 3.19.1
bull-arena version 3.6.0

The error happens when I click the "fail" link:

![image](https://user-images.githubusercontent.com/1231122/100374571-c6eb9200-300c-11eb-93c7-501663219614.png)

[2020-11-26 19:17] skeggse commented on #295
Thanks for the extra detail. Are you processing a lot of jobs quickly? Is this failed job persisting, or does it come and go?

[2020-11-26 19:33] beequeueci commented on #293
:tada: This issue has been resolved in version 3.6.1 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.6.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-26 20:05] matteomattei commented on #295
It is a job failed due to a missing connection to a remote endpoint in the worker process which resulted to an axios catch block.

[2020-12-04 15:23] JoJ123 commented on #280
@skeggse Is there no solution?
We are also using bull-dash it's working fine there, but both libraries have their benefits :)

[2020-12-08 10:08] grapevineai opened #299 "Remote connection not working with BullMQ"
Seems like redis connection is not used for BullMQ. I have tried the following:

[code]

But arena tries to connect to Redis at 127.0.0.1:6379

[2020-12-08 18:41] yigitkurtcu commented on #299
I have the same problem.

[2020-12-08 19:35] skeggse commented on #299
Please confirm you are on `v3.6.1`.

[2020-12-08 19:43] yigitkurtcu commented on #299
Yes, I am trying with the versions below.

 **"bull": "^3.20.0",
 "bull-arena": "^3.6.1"**

[2020-12-08 19:51] yigitkurtcu commented on #299
I guess the problem is here
**https://github.com/bee-queue/arena/blob/fcd1b61af0166878a09e111e3fce741529b5dd81/src/server/queue/index.js#L102**

BullMQ constructor does not accept parameter object like this. Redis options should be given as one of the following.

**'redis: //127.0.0.1: 6379'
{redis: {port: 6379, host: '127.0.0.1', password: 'foobared'}}**

[2020-12-09 12:20] grapevineai commented on #299
@skeggse Seems like I was using an outdated version!

[2020-12-09 12:20] #299 closed

[2020-12-14 21:32] roychri commented on #226
Somehow I completely missed the pull #227 !
I'll do what was done in #227 + what was asked and resubmit!

[2020-12-16 01:29] #226 closed

[2020-12-16 01:31] beequeueci commented on #226
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.7.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-07 06:04] zebkailash opened #308 "Whats the best approach to monitor queues in microservices."
How should we monitor queues lets say we have 2 Microservices MS1, MS2 each have their own Redis instance and each service pushes the job to their respective Redis instance. There is another service let's say admin service which will like to monitor all these queues. How should this be implemented? Should the admin service directly provide the configuration details of different redis instances?

[2021-01-07 09:55] didrikg opened #309 "Action on bumping jsoneditor because of open XSS-vunerability"
Hey,

Saw this open PR for bumping jsoneditor https://github.com/bee-queue/arena/pull/307

I just wanted to ask if there is any planned action on this as the current version has an open XSS-vunerability in it (see https://github.com/josdejong/jsoneditor/issues/1029).

Thank you!

[2021-01-11 10:17] shahana-aym commented on #299
Facing the same issue.

[2021-01-11 14:32] bogdan opened #310 "Ability to pass Queue instance instead of Queue contrcutor + configuration to an application"
Our queues have some advanced configuration like:

[code]

All of that configuration is lost when job is made via this tool.

It can be fixed by introducing the ability to pass a Queue instance as the configuration options instead of constructor + config, like:

[code]

instead of:

[code]

Are you open for a PR with such a feature?

[2021-03-07 23:36] roggervalf commented on #309
hey @didrikg, #334 was merged, so I think we are good to close this issue

[2021-03-11 11:57] #309 closed

[2021-03-11 20:17] roggervalf commented on #145
@flaviolivolsi could you please try last version, PR to address this was merged.

[2021-03-25 16:19] evolkmann commented on #308
@zebkailash I personally use a shared redis instance for multiple apps/services and I use different queues for differnet topics. That way you can point arena to a single redis instance and monitor all queues. If there is a special reason to have multiple redis instances, you can also configure a single arena instance to connect to both redis servers.

[2021-03-29 09:51] chris-askbrian opened #348 "Wrong "Executes At" date for delayed Bee Jobs"
Just saw that the executes at info was added some days ago (https://github.com/bee-queue/arena/pull/340) and in case of BeeQueue Jobs the shown date is simply wrong... When delaying a BeeQueue Job for 5 seconds the Executed At is set so a date way in the future (we are talking about years ;D)

The screenshots in the PR already show the acctual problem for BeeQueue (https://github.com/bee-queue/are

[2021-03-30 13:17] bradvogel commented on #348
Oh jeez! Great catch! Fixed with https://github.com/bee-queue/arena/pull/350

[2021-03-30 13:17] bradvogel commented on #145
https://github.com/bee-queue/arena/pull/350

[2021-03-31 13:56] bradvogel commented on #348
Fixed in new release 3.17.0

[2021-03-31 13:56] bradvogel commented on #145
Fixed in new release 3.17.0

[2021-03-31 13:56] #145 closed

[2021-04-13 15:22] roggervalf commented on #203
@bogdan please try the last released version, both buttons were added

[2021-05-13 04:53] mprast opened #383 "This package is quite large"
Hi all - I'm really glad that `bee-queue` has a full-featured monitoring dashboard and I don't want to look this particular gift horse in the mouth, but at a [14.5 MB install size](https://packagephobia.com/result?p=bull-arena) `bull-arena` is one of my largest dependencies (it might be the largest in fact). Truthfully I wasn't expecting arena to be this heavyweight, especially since it looks like

[2021-05-17 13:12] bradvogel commented on #383
You're right - this package is very large for what it does. Your ideas are great. PRs would be appreciated!

[2021-05-19 12:30] YasienDwieb opened #387 "Bull arena inside docker just loading"
I have been using bull arena for a while as being reached via express server that is served on its own via pm2 or whatever. I have no problem with that.

The problem is when I use it from within a docker container, I get the main page but whenever I head to any queue. It never loads.

BTW, the queue is working fine and is jobs are processed but I can' view it form arena.

Thanks in advance

[2021-05-20 12:51] MiroslavF opened #390 "[Security] Critical security issue in "handlebars" dependency"
Hello.
Critical security issue was detected in one of your dependencies. Specifically in package `handlebars`. Can you please update the package?

This is the issue: https://www.npmjs.com/advisories/1670

Thanks in advance.

[2021-05-27 04:58] roggervalf commented on #390
Hi @MiroslavF, you can try the last version, where this issue should be addressed

[2021-05-28 13:04] Streeterxs opened #394 "Search filter for job name"
### Overview
My application run a lot of jobs every day, over time we found hard to search for a specific job that runned some time a go. Would be nice if we could search for a specifc job

### Screenshots
![image](https://user-images.githubusercontent.com/41974719/119987746-bad09500-bf9b-11eb-8729-ab1a900258d3.png)

**local** we have a lot more in prod
![image](https://user-images.githubuserconte

[2021-05-31 03:37] roggervalf commented on #220
@meotimdihia could you please try the last version, there is one pr that was merged referencing this issue

[2021-05-31 03:39] meotimdihia commented on #220
Sorry, currently I don't use Bee or Bull queue for my project.

[2021-05-31 14:24] roggervalf commented on #220
No worries, could this issue be closed?

[2021-05-31 14:26] meotimdihia commented on #220
Yes, I close this issue. 😀

[2021-05-31 14:26] #220 closed

[2021-05-31 17:57] roggervalf commented on #390
@MiroslavF could this issue be closed?

[2021-06-01 18:27] rauny-henrique commented on #387
I fix this by changing the "type" of each queue and configuring the redis connection for each queue.

example:

{
            type: 'bull',
            name: queue.name,
            hostId: "q",
            redis: {
                port: 6379,
                host: process.env.REDIS_HOST || '127.0.0.1',
                password: null,
            }
        }

[2021-06-02 07:51] #390 closed

[2021-06-02 15:10] PseudoCoding opened #396 "Progress Reporting for BeeQueue"
I'm curious as to why progress reposting is disabled for BeeQueue

https://github.com/bee-queue/arena/blob/master/src/server/views/partials/dashboard/jobDetails.hbs#L78

[2021-06-03 01:04] roggervalf commented on #203
@bradvogel I think this issue could be closed

[2021-06-03 01:23] #203 closed

[2021-06-05 15:32] YasienDwieb commented on #387
Does, this works inside of docker? can you access each job? @rauny-henrique

[2021-06-07 06:31] kefniark opened #399 "Update docker image"
## Description
I'm using the docker image of arena, and I noticed that this image is quite outdated, the last released was 6 month ago
https://hub.docker.com/r/mixmaxhq/arena/

This image is still using version `v3.6.1`, when the last version is `v3.23.0`

Is there any plan to update this docker image? or better any plan to automatize it for every release?

[2021-06-08 06:13] olliechick opened #402 "Views directory is pointing to the wrong place"
I am running Arena as a middleware in a Nest app. When I run it and try to open the URL I have set it to, it raises this error. How do I fix this?

[code]

My `main.ts` looks like this:

[code]

and `app.module.ts` looks like this:

[code]

[2021-06-08 15:45] bradvogel commented on #402
I'm not sure what's happening there. Try checking out this project and running the bullmq example in directory https://github.com/bee-queue/arena/tree/master/example.

[2021-06-11 18:51] ericcheww opened #409 "Can we replace the add job with a simple textArea?"
the AddJob UI is really hard to use, I think a text area for a user to input a JSON text should be better.

[2021-06-14 20:17] bradvogel commented on #409
cc @roggervalf - I think he uses it.

[2021-06-15 00:53] roggervalf commented on #409
@ericcheww the jsoneditor also has an option for a plain text editor https://github.com/josdejong/jsoneditor, you just need to change Code to Text
![Selection_038](https://user-images.githubusercontent.com/14021523/121976784-26f81a80-cd4a-11eb-84ec-a8868c9f2392.png)

[2021-06-15 15:02] MiroslavF opened #412 "[SECURITY] Critical security vulnerability in express-handlebars dependency"
Hi.

Recently I added issue about critical security vulnerability in handlebars dependency. This is the issue: https://github.com/bee-queue/arena/issues/390

Same vulnerability is found in another one of your dependencies: express-handlebars. Can you please update this package too?

Thanks.

[2021-06-16 04:38] roggervalf commented on #412
@MiroslavF maybe this is what you are looking for https://github.com/bee-queue/arena/pull/379

[2021-06-16 06:22] MiroslavF commented on #412
Oh yea that's it :) Thanks

[2021-06-16 06:22] #412 closed

[2021-07-02 02:51] olliechick opened #416 "404 when clicking on job"
When I click on Job {id}, or JSON, from the list of jobs I get a 404 page.

[2021-07-06 12:12] #416 closed

[2021-07-06 12:14] beequeueci commented on #416
:tada: This issue has been resolved in version 3.29.1 :tada:

The release is available on:
- [GitHub release](https://github.com/bee-queue/arena/releases/tag/v3.29.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull-arena/v/3.29.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-23 18:00] igordreher commented on #387
I'm currently facing the same issue.
It works locally, but when running inside a docker container, arena fails to load queues pages.
Error logs:
[code]
I imagine that it has something to do with arena's connection to redis

[2021-07-23 22:21] igordreher commented on #387
I solved my problem.
In my case, arena would fail to connect to redis if I provided the redis url:
[code]
The fix was simply providing the redis config connection instead, like so:
[code]

[2021-07-24 01:43] YasienDwieb commented on #387
There's no problem with redis connection, as data are being stored and processed properly.
The issue is mainly with the dashboard, as you just get the main page and can't proceed to check whatever other pages like active, processing,... etc
Just hang up on the main page

[2021-07-24 02:05] rauny-henrique commented on #387
yes, works. The problem is the redis configuration on arena, you need explicitly declare redis connection, like @igordreher say:

`queues: [{
  type: 'bull',
  name: 'example',
  hostId: 'q',
  redis: {
    host: '127.0.0.1',
    port: 6379,
  },
}]`

[2021-08-04 09:35] p3x-robot opened #428 "REGRESSION ERROR: Arena Bootstrap bug"
[code]

You can see, that Arena uses Bootstrap 3.4.1 and it works using CDN.
But we are offline so we need that, and it uses Bootstrap, but the latest version is using 4.6.0 and because Bootstrap 3 vs 4 is not compatible.
![image](https://user-images.githubusercontent.com/28588124/128158457-4c84b40e-8ca3-432b-9921-073af201b81a.png)

Because of that, it looks like this:
![image](https://user-images

[2021-08-12 02:16] bradvogel commented on #428
Great catch. My oversight when reviewing. https://github.com/bee-queue/arena/pull/432

[2021-08-12 11:46] bradvogel commented on #428
Fix released in version v3.29.2 https://github.com/bee-queue/arena/blob/master/CHANGELOG.md#3292-2021-08-12. Thanks again for catching

[2021-08-12 11:47] #428 closed

[2021-08-14 10:18] juanmanavarro commented on #216
Please, add this to docs. Thanks

[2021-08-30 22:03] matthewgonzalez opened #437 "`url` option no longer works for connection to BullMQ"
It appears that 9 months ago (see: #294 ) a regression was introduced which prohibits us from using the `url` option to connect to BullMQ/ioredis via URL string.

The line of code which seems to have affected this ability is here:
https://github.com/bee-queue/arena/blob/3d941e360675dcef6575afbd17a7670d64b3f07e/src/server/queue/index.js#L115

[2021-08-30 23:51] #437 closed

[2021-09-24 09:46] rd67 commented on #387
Facing same problem with above solution as well:

Docker Compose File
`version: "3.9"

networks:
  ebm:
    driver: bridge

volumes:
  mongoData:
    name: mongoData
  redisData:
    name: redisData

services:
  mongodb:
    image: mongo:4.4.4-bionic
    volumes:
      - mongoData:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=mongoadmin

[2021-10-09 15:21] gabegorelick opened #446 "TypeError when using Bull < v3.15.0"
When using versions of Bull before `queue.isPaused` was added (https://github.com/OptimalBits/bull/commit/19c7e44603911c29bd4ae41c9c30682726ddc620, which was first released in https://github.com/OptimalBits/bull/blob/develop/CHANGELOG.md#v3150), you'll get the following error when clicking into a queue:

[code]

Arena should either make it explicit that older versions of Bull are not supported or

[2021-10-28 14:18] aislanmaia opened #453 "How to add/remove queues dinamically in the UI?"
I can't found an API to do add/remove queues.

[2021-10-29 21:01] bradvogel commented on #453
There isn't any UI to add and remove queues. You need to pass the list of queues to the constructor, or use an auto-discovery mechanism such as http://mixmax.com/blog/bull-queue-aws-autodiscovery.

[2021-10-29 21:01] #453 closed

[2021-12-06 20:22] edengabay commented on #182
Any chance of solving it?
It is easily reproduced when using docker-compose.

[2022-01-21 15:49] ontehfritz opened #481 "Filtering jobs with Javascript queries, if there is interest we can do a PR for this in the bee-queue project"
We use arena in organisation and have done a PR locally for this, you can check it out here:

https://github.com/ratehub/arena/pull/1

It adds a query box when viewing jobs, and uses javascript for filtering jobs by any property on the job, does paging nicely etc. The only caveat is, it pulls all jobs in given state, when filtering, we are going to be doing some more testing on it for performance

[2022-03-22 18:10] aditodkar opened #503 "Not able to perform delete/select all/remove job from dashboard?"
I am not able to perform select all/delete/remove job operations on dashboard getting following errors in console.
[code]

![Screenshot_1](https://user-images.githubusercontent.com/16613832/159554301-65d1f480-769d-42e8-8017-f56c5d3d82e0.png)

[2022-06-03 20:04] apomarinov opened #530 "Ability to handle redis server unavailability"
My redis server is regularly restarted and the moment its down it kills my express app if I have previously loaded the arena UI at least once. Im using a `url` for the redis connection. I tried using a ioredis instance with error handling but I get type errors:
<img width="546" alt="image" src="https://user-images.githubusercontent.com/4343861/171942336-eaa78746-5b01-4b85-964e-2041a27dc0dc.png">

[2022-08-10 16:28] bradvogel opened #546 "THIS PROJECT IS LOOKING FOR A NEW OWNER"
Hey everyone!

The [Mixmax Engineering team](https://mixmax.com/engineering) can no longer maintain this repo. We're moving away from Bee Queue over to SQS and have no need to run Arena any more.

We're looking for a new owner of this repo.

You are:
* An experienced engineer working on a team that's using Bee Queue and Arena at scale
* Have extra time to be able to review and merge PRs.
* Have an

[2022-11-07 21:56] anuragagarwal561994 opened #582 "Adding support for printing logs on UI"
Feature Request:

A support can be added to print log statements on the UI for the Job. This can help user navigate job related issues.